/* 
 * Elaine Zhou, 2016
 * =============================
 */



@import 'variables';

/* GLOBAL */

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    color: $carbon;
    font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
}

*::-moz-selection {
    background: $carbon;
    color: white;
    text-shadow: none;
}

/* TYPOGRAPHY */
@import url('http://fonts.googleapis.com/css?family=Playfair+Display:400italic,700');
@import url('http://fonts.googleapis.com/css?family=Fira+Sans:300,400');    
@import url('http://fonts.googleapis.com/css?family=Abel');    

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.5em;
    text-rendering: geometricPrecision;
    margin-bottom: 0.5em;
}

h2 {
    font-weight: 300;
}

h3 {
    font-family: 'Abel', 'Courier New', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    display: inline-block;
    line-height: 1.8;
}


p {
    font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125em;
    line-height: 1.8;
    font-weight: 300;
    color: $dark-grey;
}

a, a:visited {
    color: $medium-grey;
    transition: color .5s;
    -webkit-transition: color .5s;
    -webkit-transition:border-bottom .5s;
    -moz-transition:border-bottom .5s;
    -ms-transition:border-bottom .5s;
     -o-transition:border-bottom .5s;
        transition:border-bottom .5s;
}


blockquote {
    border-left: 0;
    width: 66.7%;
    color: $medium-grey;
    font-family: 'Playfair Display';
    font-weight: 100;
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 2.75rem;
    margin-bottom: 3.5rem;

    @include center-position;
    text-align: left;
    

    footer{
        text-align: right;
        font-size: .85rem;
        color: $medium-grey;
        margin: 0;
    }

    p {
      display: inline;
    }
}

.subtle {
    color: $intro-dark-grey;
}

/* LAYOUT */


footer {
    margin-bottom: 30px;
    p {
        margin-top: 30px;
    }
}

/* UTILITIES */

.center {
    @include center-position;
    text-align: center;
}

.table {
    display: table;
}

/* ELEMENTS */

.back {
    margin-top: 30px;
    a:hover {
        opacity: 0.6;
    }

    img {
        width: 35px;
    }
}

ul.inline-list{
    list-style-type: none; 
    margin-left: 0px;
    padding-top: 0.5rem;

    li{
        display: inline-block;
        margin: 0 20px;
    }
    li:first-of-type{
        margin-left: 1px;
    }
}

.pull-down{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    display:block;
}