/* 
 * BASE
 */

body{
	font-family : 'Fira Sans', sans-serif; 
	font-weight: 300; 
	background-color: white;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5 { 
	font-family: 'Playfair Display', serif; 
	font-weight: 400; 
}

h1{
	text-align: center;
	line-height: 2em;
	font-weight: 700;
	letter-spacing: 0.008em;
}

p{
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.85em;
}

strong{
	font-weight: 700;
}

ul li{
	margin-left: 30px;
	margin-right: 30px;
}


footer p{
	color: #696969;
	margin-bottom: 45px;
}

figure {
	margin: 0 -80px 40px;
    text-align: center; 
}

figure figcaption{
	color: #aaa;
	margin-top: 10px;
	font-size: 0.8rem;
}


.content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.center {
	text-align: center;
}

blockquote {
	font-family: 'Playfair Display', serif; 
	font-style: italic;
  border-left: 0;
  margin: 1.8em 4em 2em;
  padding: 1.5em 10px;
  text-align: center;
  color: #aaa;
  	line-height: 1.85em;
  	font-size: 1.2em;

}

blockquote::before {
	color: #aaa;
	content: "\201C";
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	margin-left: -0.7em;
	vertical-align: -0.4em;
}


.back {
    margin-top: 30px;
    a:hover {
        opacity: 0.6;
    }

    img {
        width: 35px;
    }
}