$carbon: #696969;
$grey: #aaa;


// Breakpoints for each query
$tiny: 380px;
$smartphone: 640px;
$tabletPortrait: 750px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1440px;


h3 {
	margin-top: 1em;
}

figure:not(.full-width) {
	max-width: 580px;
	margin-left: auto;
	margin-right: auto;
}

figure.full-width {
	figcaption {
		width: 55%;
	}
}

figure{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    img{
        margin-bottom: 0.5em;
    }

    figcaption{
        margin-top: 1em;
        font-size: 0.8em;
        font-style: italic;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

a:not(.back) {
    color: $carbon;
    border-bottom: 1px solid #ccc;
}

a:not(.back):hover {
    color: $grey;
    border-bottom: none;
}


@media only screen and (max-width: $tabletLandscape) {
   figure.full-width,
   figure.full-width img{
	   	max-width: 100%;
	   	margin-left: auto;
	   	margin-right: auto;
   }
}

.content {
	padding-top: 0px;
	margin-top: 4em;
}