// MAIN COLORS

$light-grey: #F7F7F7;
$medium-grey: #aaa; // #ccc
$dark-grey: #696969;
$carbon: #3D3D3D;
$blue: #00C9D0;

$teal: #00C9D0;

$intro-light-grey: #f4f4f4; //#fafafa;
$intro-dark-grey: #999; //#6E6E6E;


$discoveroute: #FFA215; //#FEC201;
$dais: #007E7F;
$smartcart: #2565AA;
$dconstraints: #184E11; //#4E1133;
$sixdegree: #010425;

$etc: #7B041C;

$remind: #4a89dc;
$uber: #000;
$frog: #46bc01;

// OTHER VARIABLES
$content-line: 580px;


// MIXINS 

@mixin center-position{
    margin-left: auto;
    margin-right: auto;
}


// Breakpoints for each query
$tiny: 380px;
$smartphone: 640px;
$tabletPortrait: 750px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1440px;
@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) { @content; }
  }
  @else if $media == smallScreen {
    @media (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}

/* ELEMENTS */

body {
    color: $carbon;
    font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

h3 {
    font-family: 'Abel', 'Courier New', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    display: inline-block;
    line-height: 1.8;
}


p {
    font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125em;
    line-height: 1.8;
    color: $dark-grey;
}

a {
    color: $teal;
}

blockquote {
    border-left: 0;
    width: 66.7%;
    color: $medium-grey;
    font-family: 'Playfair Display';
    font-weight: 100;
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 2.75rem;
    margin-bottom: 3.5rem;

    @include center-position;
    text-align: left;
    

    footer{
        text-align: right;
        font-size: .85rem;
        color: $medium-grey;
        margin: 0;
    }

    p {
      display: inline;
    }
}


footer {
    margin-bottom: 30px;
    p {
        margin-top: 30px;
    }
}

/* UTILITIES */

.center {
    @include center-position;
    text-align: center;
}

/* GENERAL */

.back {
    margin-top: 30px;
    a:hover {
        opacity: 0.6;
    }

    img {
        width: 35px;
    }
}

.video-wrapper {
    @include center-position;
    position: relative;
    // padding-bottom: 56.25%;
    padding-bottom: 40.5%;
    height: 0; 
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 45px;
    max-width: $content-line;
}
 
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.case-content {

    h4 {
        font-family: 'Playfair Display', serif;  
        font-weight: 400;
        font-style: italic; 
        color: #666;
    }

    h4 {
        font-size: 1.35rem;
        margin-top: 1.35rem;
    }

    /* TO DO: COME BACK TO THIS */
    a {
        color: $carbon;
        border-bottom: 1px solid #ccc;
    }

    a:hover {
        color: $dark-grey;
        border-bottom: none;
    }

    figure{
        max-width: $content-line;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        @include center-position;
        text-align: center;

        img{
            margin-bottom: 0.5em;
        }

        figcaption{
            @include center-position;
            margin-top: 1em;
            color: $dark-grey;
            font-size: 0.8em;
            font-style: italic;
            width: 90%;
        }
    }

    section {
        margin-top: 4em;
    }

    section:first-of-type {
        margin-top: 1.5em;
    }

    ul {
        color: $dark-grey;
        line-height: 1.8;
        margin-left: 100px;
    }

}


.slideshow {
    height: 450px; 
    background-color: white;  
}

.slideshow > div { 
    @include center-position;
    position: absolute;

    img {
        height: 450px;
    }
}

@media (max-width: $tabletPortrait) {
    .slideshow {
        width: 100%;
        min-height: 250px; 
        max-height: 450px; 
        height: auto;
    }
    .slideshow > div img {
        width: 100%;
        height: auto;
    }
}


.intro {
    text-align: left;
    padding-left: 15px;

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3.5em;

        color: white;
        // text-shadow: $carbon 2px 1px;
    }

    h2 {
        font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5em;
        color: $intro-light-grey;
    }

    h3 {
        font-size: 1em;
        margin-right: -8px;
        color: $intro-light-grey;
    }
}

#discoveroute .intro {
    h1 {
        // text-shadow: #888 2px 1px;
    }
}


.intro-text {
    margin-top: 18em;
}

@media (max-width: $smartphone) {
    .back {
        width: 30px;
    }

    .intro {
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 1.25em;
        }
        h3 {
            font-size: 0.8em;
        }
    }
}

/* PAGE-SPECIFIC */

.hero {
    background-repeat: no-repeat;
    height: 36em;
    margin-bottom: 1em; 
    // margin-bottom: 2em; 
}

.hero#smartcart {
    background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/smartcart3.png");
    background-position: 80% 0%;
    background-size: cover, auto 26em;
    background-color: $smartcart;
    
}

.hero#discoveroute {

    background-image: linear-gradient(to bottom, transparent 10%, rgba(255, 250, 255, 0.1) 90%), url("../images/discoveroute3.png");
    background-position: 80% 25%;
    background-size: cover, auto 28em;
    background-color: $discoveroute;
}

.hero#dais {
    background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.1) 80%), 
                        url("../images/dais.png");
    background-position: 80% 40%;
    background-size: cover, auto 20em;
    background-color: $dais;
}

.hero#dconstraints {
    background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), 
                        url("../images/dconstraints.png");
    background-position: 80% 40%;
    background-size: cover, auto 15em;
    background-color: $dconstraints;
}

.hero#sixdegree {
    background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), 
                        url("../images/sixdegree.png");
    background-position: 80% 40%;
    background-size: cover, auto 22em;
    background-color: $sixdegree;
}


@media (max-width: $smartphone) {
    .hero#discoveroute,
    .hero#smartcart { 
        background-size: cover, 90% auto;
        background-position: 10% 100px;
    }

    .hero#dconstraints,
    .hero#dais {
        background-size: cover, 90% auto;
        background-position: 50% 130px;
    }
}





/* HOMEPAGE */

#landing h4, h5 {
    font-family: 'Abel', 'Courier New', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    display: inline-block;
}

#projects .tiles .tile:hover{
    cursor: pointer;
}

ul.tiles{
    list-style: none;
    margin-left: 0px;
}

.tile-row:nth-child(2n+1) .major{
    float: right;
}

@media only screen and (min-width: $tabletPortrait) {
    .tile{
        -webkit-transition: width 0.8s, height 0.8s;
        transition: width 0.8s, height 0.8s;
    }
} 
.minor .tile{
    font-size: 80%;
    height: 25em;
    margin-bottom: 1.4em;
    .tile-img{
        height: 52% // ~11.45em;
    }
}

.major .tile{
    height: 40em; 
    .tile-img{
        height: 75% // ~28em;
    }
}

.tile{
    margin: 1rem 0;
}

.tile-img{
    height: auto;
}


.tile-img-light{
    background-color: white;
    margin: 1em 0 1.7em;
}


.title-underline {
    margin-bottom: 1em;
    border-bottom: 3px solid #ddd;
    display: inline-block;
    padding-bottom: 0.5em;
}

.tile-text{
    padding: 1.75em 2.2em 2em;
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: white;
    p{
        margin-bottom: 0;   
    }   
}

/* Responsive stuff */
@media only screen and (max-width: $smartphone) {
    .minor .tile{
        height: 25em;
        margin: 2em 0;
        .tile-img{
            height: 60%;
        }
    }

    .major .tile{
        height: 30em; 
        margin: 1.5em 0 2.5em;
        .tile-img{
            height: 67%;
        }
        p{
            font-size: 1em;
        }
    }
}


@media only screen and (max-width: $tiny) {
    .major .tile .tile-img{
        height: 60%;
    }
}

/* project specifics */

.tile-img{
    overflow: hidden;
}

.tile-img .inner{
    height: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}


.tile-img {
  position: relative;
}

.tile-img:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  -webkit-transition: opacity .7s ease;
  -moz-transition: opacity .7s ease;
}

#projects .tile:hover .tile-img:after  {
  opacity: .7;
}

.tile-img:hover:after  {
  opacity: .7;
}

.tile-img:after {
  background-color: red;
}

#landing footer {
    margin-top: 60px;
}

#home {
    margin-top: 10em;
    margin-bottom: 10em;
}

@media only screen and (max-width: $smartphone) {
    #home {
        margin-top: 5em;
        margin-bottom: 5em;
    }
}


/* homepage project specific  */

#smartcart .tile-img:after,
#smartcart .tile-img{
    background-color: $smartcart;
}

#research .tile-img:after,
#research .tile-img{
    background-color: $dconstraints;
}

#discoveroute .tile-img:after,
#discoveroute .tile-img{
    background-color: $discoveroute;
}

#remind .tile-img:after,
#remind .tile-img{
    background-color: $remind;
}

#remind .tile-img{
    padding: 0% 22%;
}

#frog .tile-img:after,
#frog .tile-img{
    background-color: $frog;
}

#frog .tile-img{
    padding: 0% 25%;
}


#uber .tile-img:after,
#uber .tile-img{
    background-color: $uber;
}

#uber .tile-img {
    padding: 0 15%;
}

#dais .tile-img:after,
#dais .tile-img{
    background-color: $dais;
}

@media only screen and (max-width: $smartphone) {
    #dais .tile-img{
        padding: 0 8%;
    }
}

#sixdegree .tile-img:after,
#sixdegree .tile-img{
    background-color: $sixdegree;
}

#sixdegree .tile-img {
    padding: 0 18%;
}

#etc .tile-img:after,
#etc .tile-img{
    background-color: $etc;
}

#etc .tile-img {
    padding: 0% 12%;
}

#frog .tile-img:hover,
#frog .tile-text:hover,
#remind .tile-img:hover,
#remind .tile-text:hover,
#uber .tile-img:hover,
#uber .tile-text:hover  {
  cursor: not-allowed;
}
