// MAIN COLORS

$light-grey: #F7F7F7;
$medium-grey: #aaa; // #ccc
$dark-grey: #696969;
$carbon: #3D3D3D;
$blue: #00C9D0;

$intro-light-grey: #ddd;
$intro-dark-grey: #6E6E6E;


$discoveroute: #FEC201;
$dais: #007E7F;
$smartcart: #2565AA;


// OTHER VARIABLES
$content-line: 580px;


// MIXINS 

@mixin center-position{
    margin-left: auto;
    margin-right: auto;
}


// Breakpoints for each query
$tiny: 380px;
$smartphone: 640px;
$tabletPortrait: 750px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1440px;
@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) { @content; }
  }
  @else if $media == smallScreen {
    @media (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}

/* ELEMENTS */

body {
    color: $carbon;
    // font-family: 'Nunito', 'Helvetica Neue', sans-serif;
    font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Abel', 'Courier New', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    display: inline-block;
    line-height: 1.8;
}

h4 {
    font-family: 'Playfair Display', serif;  
    font-weight: 100;
    font-style: italic; 
    color: #666;
}

p {
    // font-family: 'Nunito', 'Helvetica Neue', sans-serif;
    font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125em;
    line-height: 1.8;
    color: $dark-grey;
}

blockquote {
    border-left: 0;
    width: 66.7%;
    color: $medium-grey;
    font-family: 'Playfair Display';
    font-weight: 100;
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 2.75rem;
    margin-bottom: 3.5rem;

    @include center-position;
    text-align: left;
    

    footer{
        text-align: right;
        font-size: .85rem;
        color: $medium-grey;
        margin: 0;
    }

    p {
      display: inline;
    }
}


footer {
    margin-bottom: 30px;
    p {
        margin-top: 30px;
    }
}

/* UTILITIES */

.center {
    @include center-position;
    text-align: center;
}

/* GENERAL */

.back {
    margin-top: 30px;
    a:hover {
        opacity: 0.6;
    }

    img {
        width: 35px;
    }
}

.video-wrapper {
    position: relative;
    // padding-bottom: 56.25%;
    padding-bottom: 40.5%;
    height: 0; 
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 45px;
    max-width: $content-line;
}
 
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.case-content {
    h4 {
        font-size: 1.35rem;
        margin-top: 1.35rem;
    }

    /* TO DO: COME BACK TO THIS */
    a {
        color: $carbon;
        border-bottom: 1px solid #ccc;
    }

    a:hover {
        color: $dark-grey;
        border-bottom: none;
    }

    figure{
        max-width: $content-line;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        @include center-position;
        text-align: center;

        img{
            margin-bottom: 0.5em;
        }

        figcaption{
            @include center-position;
            margin-top: 1em;
            color: $dark-grey;
            font-size: 0.8em;
            font-style: italic;
            width: 90%;
        }
    }

    section {
        margin-top: 4em;
    }

    ul {
        color: $dark-grey;
        line-height: 1.8;
        margin-left: 100px;
    }

}


.slideshow {
    height: 450px; 
    background-color: white;  
}

.slideshow > div { 
    @include center-position;
    position: absolute;

    img {
        height: 450px;
    }
}

@media (max-width: $tabletPortrait) {
    .slideshow {
        width: 100%;
        min-height: 250px; 
        max-height: 450px; 
        height: auto;
    }
    .slideshow > div img {
        width: 100%;
        height: auto;
    }
}


.intro {
    text-align: left;
    padding-left: 15px;

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3.5em;

        color: white;
        text-shadow: $carbon 3px 2px;
    }

    h2 {
        // font-family: 'Nunito', 'Helvetica Neue', sans-serif;
        font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5em;
        color: $intro-dark-grey;
    }

    h3 {
        font-size: 1em;
        margin-right: -8px;
        color: $intro-dark-grey;
    }
}


.intro-text {
    margin-top: 18em;
}

@media (max-width: $smartphone) {
    .back {
        width: 30px;
    }

    .intro {
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 1.25em;
        }
        h3 {
            font-size: 0.8em;
        }
    }
}

/* PAGE-SPECIFIC */

.hero {
    background-repeat: no-repeat;
    height: 36em;
    margin-bottom: 2em; 
}

.hero#smartcart {
    background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/smartcart3.png");
    // FOR GREY BACKGROUND
    // background-position: right top;
    // background-size: contain;
    // height: 32em;
    // margin-bottom: 5em;
    background-position: 80% 0%;
    background-size: cover, auto 26em;
    background-color: $smartcart;


    h2, h3 {
        color: $intro-light-grey;
    }
    
}

.hero#discoveroute {
    background-image: linear-gradient(to bottom, transparent 1%, rgba(255, 255, 255, 0.1) 90%), 
                        url("../images/discoveroute3.png");
    background-position: 80% 25%;
    background-size: cover, auto 28em;
    background-color: $discoveroute;
}

.hero#dais {
    background-image: linear-gradient(to bottom, transparent 1%, rgba(255, 255, 255, 0.1) 90%), 
                        url("../images/dais.png");
    background-position: 80% 40%;
    background-size: cover, auto 20em;
    background-color: $dais;

    h2, h3 {
        color: $intro-light-grey;
    }
}


@media (max-width: $smartphone) {
    .hero#discoveroute,
    .hero#smartcart { 
        background-size: cover, 90% auto;
        background-position: 10% 100px;
    }

    .hero#dais {
        background-size: cover, 90% auto;
        background-position: 50% 130px;
    }
}