<!DOCTYPE html>
<html>

<head>
<% include templates/head %>
<link rel='stylesheet' href='stylesheets/case.css' type='text/css'>
</head>

<body class='case-study' id="dais-case">
	<div class='hero' id='dais'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back"><a href="http://elainezhou.me"><img src="images/logoWhite.png" alt='Personal logo'></a></div>
				<div class="intro-text">
					<h1>Dais</h1>
					<h2>Live presentation aid and analytics.</h2>
					<h3>Google Glass, HTML/CSS/Javascript | 2014</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='case-content row'>
		<div class='large-12 large-centered columns'>
			<section id='stats'>
				<div class="large-12 large-centered columns">
					<div class="row">
						<div class="large-7 medium-6 columns">
							<h4>Context</h4>
							<p>
							Coursework: 6 week project<br />
							Dream Team: Brian Lam, Harrison Wray, Adrian Rodriguez
							</p>
						</div>
						<div class="large-5 medium-6 columns">
							<h4>Roles</h4>
							<p>User Interviews, Interaction Design, Prototyping, Data Visualization</p>
						</div>
					</div>

				</div>
			</section>

			<section id='overview'>
				<div class="medium-8 medium-centered columns">
					<h1>Present Better</h1>

					<p>Why is public speaking so difficult? Many presentation aids neither teach nor reinforce good speaking techniques. Instead, they focus on peripherals: making presenter’s notes more accessible or slide changes easier. Dais focuses on two core issues: eye gaze and vocal variation. Dais aims to help novice oral presenters to receive real-time feedback and present aggregate trends of their performances.
					</p>
				</div>
				
				<div class='video-wrapper center'>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/x7TjLtVKj3k" allowfullscreen></iframe>
				</div>
			</section>

			<section id='needfinding'>
				<div class="medium-8 medium-centered columns">
					<h1>Needfinding</h1>

					<p>We observed and interviewed four novice speakers and two professional oral communicator lecturers. Students in public speaking courses mentioned problems with current solutions: (1) video debugging is incredibly awkward and is too far removed from the act of public speaking, whereas (2) immediate feedback is overwhelming in that there's too cognitive load to focus on any one bit of advice.</p>

					<blockquote>There's too much stuff to fix; I can't focus on any of it! <footer>- Student</footer></blockquote>
				</div>

			</section>

			<section id='context'>
				<div class="medium-8 medium-centered columns">
					<h1>Defining Context</h1>
					<p>From our interviews, we discovered that that feedback is only helpful in small and immediate doses. However, trends about the overall performance are useful towards the end. We focused on this insight narrowed in on two main pillars of good presentations: <em>balanced visual spread</em> and <em>consistent speaking volume</em>. We hope that these same design principles can be extended to other presentation benchmarks.
					</p>
				</div>

				<figure class="large-12 columns">
					<div class="row blocks">
						<div class="large-6 columns">
							<div>
								<h4>User Scenario</h4>
								<p>Novice public speakers. Used when either practicing or presenting speeches. </p>
							</div>
						</div>
						<div class="large-6 columns">
							<div>
								<h4>Bits Now, Atoms Later</h4>
								<p>Only give immediate, actionable feedback in real-time. Review general trends at leisure. </p>
							</div>
						</div>
					</div>
				</figure>
				<div class="clearfix"></div>
			</section>

			<section id='instant'>
				<div class="medium-8 medium-centered columns">
					<h1>Instant, Actionable Feedback</h1>

					<p>We focused on the smallest bits of action: when a user should look in a different direction or should speak up. If a user spends a disproportionate amount of time looking at the audience to his/her left, Dais suggests looking right. Because Glass is typically in one's periphery, we designed the cues to be distinct and immediately noticeable from other cues. In testing the effectiveness between directional and spatial cues, we found that directional cues yielded much faster reaction times. We prototyped text-based screens for audio feedback to differentiate between visual cues.
					</p>
				</div>
				<figure class="large-12 columns">
					<div class="row">
						<div class="large-6 columns">
							<img src='images/dais/directionalView.png' alt='Interface for a directional view (using arrows to indicate direction)'/>
						</div>
						<div class="large-6 columns">
							<img src='images/dais/spatialView.png' alt='Interface for a spatial view (using blocks to indicate space)'/>
						</div>
					</div>
					<figcaption>We tested two different types of visual feedback cues for Glass – directional (left) and spatial (right). If a user spends too much time looking in one direction, Glass shows a cue to look the other way. </figcaption>
				</figure>

				<div class="clearfix"></div>

			</section>

			<section id='aggregate'>
				<div class="medium-8 medium-centered columns">
					<h1>Synthesizing Aggregates</h1>

					<p>We also prototyped some visualizations summarizing an entire presentation - heat map of head position to model visual spread and a line graph charting the progression of the speaker’s volume. However, it was immediately clear from user feedback that this information was too dense and overwhelming for Glass.
					</p>
				</div>

				<figure class="large-12 columns">
					<!-- <img src='images/dais/glassAural.png' /> -->
					<img src='images/dais/glassVisual.png' alt='Speech analytics on Glass interface' />
					<figcaption>Displaying these analytics on Glass was entirely incomprehensible.</figcaption>
				</figure>
				<div class="clearfix"></div>

				<div class="medium-8 medium-centered columns">

					<p>Taking these insights into account, we built a real-time app platform on which the presenter can view important metrics from any previously given presentationa. Since the goal of post-presentation evaluation is pinpointing and correcting errors made during the presentation, the analytics were designed with the intention of showing errors. The heat map highlights the user's tendency to stare at any single point, and the volume line graph indicates the user's volume relative to a desired speaking level. The web app also aggregate all presentations over time in one dashboard.
					</p>
				</div>

				<figure class="large-12 columns">
					<img src='images/dais/webapp.png' alt='Displaying the aggregate analytics after a presentation'/>
					<figcaption>The web app displays aggregate analytics after the presentation has ended.</figcaption>
				</figure>

				<div class="clearfix"></div>

			</section>


			<section id='takeaways'>
				<div class="medium-8 medium-centered columns">
					<h1>Key Takeaways</h1>
					<h4>Adding complexity might simplify</h4>
					<p>Initially, Dais was designed to only give immediate, actionable feedback on Glass. When we heard users needed aggregate trends, we added the visuals on Glass, thinking we were reducing complexity by keeping everything on one platform. However once we tested this, users immediately recoiled at the form of such complex data on a tiny peripheral screen, so we added a web app component. Although it seems more complex to have two platforms, it ends up much easier to navigate from a user's perspective. </p>

					<h4>Talk with non-users</h4>
					<p>Our target users are novice speakers, but most students complained about having problems memorizing their speeches or fiddling with project technology. Only by talking with experts, not our target users, were we able to get to the core principles of good public speaking: visual spread and speaking volume. </p>
				</div>
			</section>
		</div>
	</div>

<% include templates/footer %>
<% include templates/scripts %>

</body>
</html>