<!DOCTYPE html>
<html>

<head>
<% include templates/head %>
<link rel='stylesheet' href='stylesheets/case.css' type='text/css'>
</head>

<body class='case-study' id="discoveroute-case">
	<div class='hero' id='discoveroute'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back"><a href="http://elainezhou.me"><img src="images/logoWhite.png" alt='Personal logo'></a></div>
				<div class="intro-text">
					<h1>Discoveroute</h1>
					<h2>Path-based local business discovery.</h2>
					<h3>nodejs, bootstrap | 2014</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='row case-content'>
		<div class='large-12 large-centered columns'>

			<section id='stats'>
				<div class="large-12 large-centered columns">
					<div class="row">
						<div class="large-8 medium-7 columns">
							<h4>Roles</h4>
							<p>Interaction design, User Testing, Product Concept, Prototyping, UI Design</p>
						</div>
						<div class="large-4 medium-5 columns">
							<h4>Context</h4>
							<p>
							Coursework<br />
							CS147 Best Interaction Design Award</p>
						</div>
					</div>

				</div>
			</section>


			<section id='overview'>
				<div class="medium-8 medium-centered columns">
					<h1>Find new places by old spaces. </h1>
					<p>Traveling from point A to point B doesn't take into account busy people with a thirst for adventure, but with little time to spare. Discoveroute’s time- and route-constrainted local business search set out to help people with two goals: find places along a path and with time efficiency. </p>
				</div>

				<figure class="medium-5 medium-centered">
					<video id="video-list" width="560" height="00" controls>
						<source src="https://raw.githubusercontent.com/zhoufosho/portfolio-v4/master/public/videos/discoveroute/demo.mp4" type="video/mp4">
						Your browser does not support the video tag. <a href="https://raw.githubusercontent.com/zhoufosho/portfolio-v4/master/public/videos/discoveroute/demo.mp4">Check out here instead.</a>
					</video>
				</figure>

			</section>
			<section id='travel-planning'>
				<div class="medium-8 medium-centered columns">
					<h1>Travel Planning</h1>
					<p>Oftentimes, traveling ends up being less about the actual journey and more about just getting there. While observing people planning trips, we found that people tended to look for areas close to where they start or where they might end up. 
					</p>
				</div>
				<figure class="large-12 columns">
					<img src='images/discoveroute/StartEnd.png' alt='Travel paths are simplified to getting from start to end.'>
					<figcaption>Through interviews and observing people planning trips, we found that people were usually only familiar with one of two places in a trip: the start or the end (destination). Exploring an area means getting around only one of those two points, and sometimes travel feels like a busied transaction between start and end.</figcaption>
				</figure>
			</section>
			<section id='approach'>
				<div class="medium-8 medium-centered columns">
					<h1>The Approach</h1>
					<p>We focused  to help people work within their busy schedules to minimize excess travel time. We came up with the idea of exploring a travel path. A set of uses came up – I need to pick up groceries on my way home. I want to escape traffic but kill time somewhere. I'd like to meet a friend halfway. Discoveroute hopes to help commuters and travels explore the places beteween their destinations.</p>
					<blockquote>Simone, busy but curious, needs to find interesting places along her travels in order to make the most of her time. </blockquote>
				</div>
			</section>

			<section id='paper-prototypes'>
				<div class="medium-8 medium-centered columns">

					<h1>Paper Prototypes &amp; <br>User Walkthroughs</h1>
					<p>The process began with a <a href='images/discoveroute/storyboard3.png'>few</a> <a href='images/discoveroute/PaperProto2.png'>different</a> <a href='images/discoveroute/storyboard1.png'>storyboards</a> and <a href='images/discoveroute/drPaperProto.png'>interactions</a> prototyped in parallel. We started with paper prototypes and conducted heuristic walkthroughs to see which components met the users' needs and which didn't. </p>

					<blockquote>Our prototypes took two approaches: time-centric and route-centric.</blockquote>

					<p>We took different perspectives with our prototypes: time-centric and route-centric. The time-centric interaction included a timer to alert the user to get back on the road. The route-centric interaction focused on allowing the user to rate, evaluate, and revisit detours.</p>
				</div>

				<figure class="large-12 columns">
					<img src='images/discoveroute/drPaperProto.png' alt='Using paper prototypes to test interactions for Discoveroute'>
					<figcaption>The time-centric prototype featured a timer to tell users to get back on the road.</figcaption>
				</figure>

				<div class="medium-8 medium-centered columns">
					<p>We found that users tended towards the time-centric prototype. Users were delighted by the timer. Since we were taking people out of their comfort zone, the timer acted as a security blanket to make sure they got to their final destination on time. The route-centric prototype didn't seem to fit the needs of our users; the insight was that once people found a new route, they would rarely come back to find the same place again – they would just remember.</p>

					<blockquote>
					Since we were intentionally routing people out of their comfort zones, we needed a guarantee that the final destination would be successful.</blockquote>
				</div>
			</section>
			<section id='prototyping2'>
				<div class="medium-8 medium-centered columns">
					<h1>Wireframes</h1>
					<p>From our user feedback, we learned that people frequently returned to change their filters and options, so we incorporated this ability in the setup flow. Some ideas involved progressive unveiling and a hamburger slide-out menu. We also began to develop a visual identity. </p>
					<figure>
						<div class="slideshow" id="nav-iterations">
							<div>
								<img src='images/discoveroute/nav1.png' alt='Persistent navigation'>
							</div>
							<div>
								<img src='images/discoveroute/nav2.png' alt='Slide-out navigation'>
							</div>
							<div>
								<img src='images/discoveroute/nav3.png' alt='Progresive unveiling of navigation'>
							</div>
						</div>
						<figcaption>We went through a few iterations of navigation styles. These show different takes on progressive unveiling, a persistent menu, and a slide out nav.</figcaption>
					</figure>
				</div>

				<figure class="large-12">
					<div>
						<a href="images/discoveroute/flow.png" class="no-effect">
							<img src='images/discoveroute/flow.png' alt='High-fidelity mockups of other interactive pieces'>
						</a>
					</div>
					<figcaption>Above is the wireframe for discoveroute and getting to a desired detour path.</figcaption>
				</figure>

			</section>

			<section id='testing2'>
				<div class="medium-8 medium-centered columns">

					<h1>Technical Prototype &amp; <br>User Testing</h1>

					<p>After implementing a functional product, we began user testing with a combination of qualitative and quantitative tests. We started off by writing and following a <a href='https://docs.google.com/document/d/1a1L0jkwwLmKdiEOPClTPE6Aj004j0z8gdkn3lhZjFXA/edit#bookmark=id.rizcytbtr6h'>usability script</a> to maintain consistency across our interviews. We also listed activities and actions to make sure we didn't miss any major flows and learn why they might have been discovered by our users. It set the scenario as "You're at Stanford, trying to meet some friends in Mountain View at {now + 2 hours}. Let's drive out now to avoid traffic and kill some time," then we watched and listened. 
					</p>

					<blockquote>
					You’re at Stanford, trying to meet some friends in Mountain View at {now + 2 hours}. Let's drive out now to avoid traffic and kill some time.
					</blockquote>

					<p>One major issue we investigated was in selecting categories. It was unclear that multiple categories could be selected, and very few people attempted to. We <a href='images/discoveroute/categoriesRedesign.png'>redesigned the categories interface</a>, trying to make the state changes more visually prominent. We redesigned the <a href='images/discoveroute/sidebarRedesign.png'>sidebar</a> as another exercise, but did not test them.
				</div>

				<figure class="large-12 columns">
					<a href='images/discoveroute/ABFull.png' class='no-effect'><img src='images/discoveroute/ABFull.png' alt='Results of A/B testing a chromatic and monochromatic version.'></a>
				</figure>

				<div class="clearfix"></div>

				<div class="medium-8 medium-centered columns">

					<p>After running an online A/B test, we found that the chromatic screen tested with number of clicks. We thought this meant that more categories were selected (hence more clicks). However, after doing user interviews, we found that the extra clicking was a sign of confusion and frustration. Thus, the way to interpret our results was that fewer clicks was more ideal.</p>

					<blockquote>
					A/B testing alone cannot tell you how to interpret your data.</blockquote>

					<p>
					The monochrome version was incorporated into the final design, since it had clearer actions and resulted in less button mashing. </p>
					
				</div>

<!-- 				<figure class="large-12">
					<img src='images/discoveroute/drHiFi.png' alt='High-fidelity mockups of other interactive pieces'>
					<figcaption>After figuring out a navigation that worked, we fleshed out the other interactions.</figcaption>
				</figure> -->

			</section>

			<section id='takeaways'>
				<div class="medium-8 medium-centered columns">

					<h1>Key Takeaways</h1>
					<h4>Design with real, not dummy, data.</h4>

					<p>Some of our initial mockups used photos from Flickr and made assumptions about the data from the Yelp's API. The images aren't always appealing nor high quality, and some information like phone numbers are hidden. We had to take these considerations into account as we designed the detour card.</p>

					<h4>Data is good, but context is better. </h4>

					<p>In our A/B testing, we found that a chromatic version of an options screen yielded more clicks than a monochromatic version. However, after conducting in-person usability studies, we found that this was actually a result of button mashing. Our quantitative data only showed what we thought we were looking for, but taking the time to understand how people used our app showed us what we should be looking for.

				</div>
			</section>
		</div>
	</div>

<% include templates/footer %>
<% include templates/scripts %>

<script>
$("#nav-iterations > div:gt(0)").hide();

setInterval(function() { 
  $('#nav-iterations > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#nav-iterations');
},  3000);
</script>

</body>
</html>