<!DOCTYPE html>
<html>

<head>
<% include templates/head %>
<link rel='stylesheet' href='stylesheets/case.css' type='text/css'>
</head>

<body class='case-study' id="emoshkas-case">
	<div class='hero' id='emoshkas'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back"><a href="http://elainezhou.me"><img src="images/logoWhite.png" alt='Personal logo'></a></div>
				<div class="intro-text">
					<h1>Emoshkas</h1>
					<h2>Helping children understand complex emotions. </h2>
					<h3>Arduino, laser cutter | 2016</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='row case-content'>
		<div class='large-12 large-centered columns'>
			<section id='stats'>
				<div class="large-12 large-centered columns">
					<div class="row">
						<div class="large-8 medium-7 columns">
							<h4>Context</h4>
							<p>
							Team: Sarah Sterman, Nhien Tran<br />
							Coursework</p>
						</div>
						<div class="large-4 medium-5 columns">
							<h4>Roles</h4>
							<p>Needfinding, Interaction Design, User Testing, Prototyping, 3D Modeling</p>
						</div>
					</div>

				</div>
			</section>

			<section id='overview'>
				<div class="medium-8 medium-centered columns">
					<h1>Emotions have layers</h1>
					<p>Emotions are complicated, and identifying or explaining them can be difficult for young children. We feel more than just "sad" or "happy." What about betrayed or grateful or jealous? Emoshkas are nesting dolls meant to help young children with emotional learning and conflict resolution.</p>
				</div>

				<div class='video-wrapper'>
					<iframe src="https://www.youtube.com/embed/7QvktffdVp4" width="560" height="200" allowfullscreen></iframe>
				</div>

			</section>

			<section id='overview'>
				<div class="medium-8 medium-centered columns">
					<h1>Emotions have layers</h1>
					<p>Emotions are complicated, and identifying or explaining them can be difficult for young children. We feel more than just "sad" or "happy." What about betrayed or grateful or jealous? Emoshkas are nesting dolls meant to help young children with emotional learning and conflict resolution.</p>
				</div>

				<div class='video-wrapper'>
					<iframe src="https://www.youtube.com/watch?v=Rul1RSdnAB8" width="560" height="200" allowfullscreen></iframe>
				</div>

			</section>



	</div>

<% include templates/footer %>
<% include templates/scripts %>

</body>
</html>