<!DOCTYPE html>
<html>

<head>
<% include templates/head %>
<link rel='stylesheet' href='stylesheets/case.css' type='text/css'>
</head>

<body class='case-study' id="emoshkas-case">
	<div class='hero' id='emoshkas'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back"><a href="http://elainezhou.me"><img src="images/logoWhite.png" alt='Personal logo'></a></div>
				<div class="intro-text">
					<h1>Emoshkas</h1>
					<h2>Helping children understand complex emotions.</h2>
					<h3>Arduino, laser cutter, electronics | 2016</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='row case-content'>
		<div class='large-12 large-centered columns'>
			<section id='stats'>
				<div class="large-12 large-centered columns">
					<div class="row">
						<div class="large-7 medium-6 columns">
							<h4>Context</h4>
							<p>
							Coursework: 3 week project<br />
							Dream Team: Sarah Sterman, Nhien Tran
							</p>
						</div>
						<div class="large-5 medium-6 columns">
							<h4>Roles</h4>
							<p>Storyboarding, Prototyping, 3D Modeling, Electronics design</p>
							
						</div>
					</div>

				</div>
			</section>

			<section id='overview'>
				<div class="medium-8 medium-centered columns">
					<h1>Emotions have Layers</h1>
					<p>Emotions are complicated, and identifying or explaining them can be difficult for young children. We feel more than just "sad" or "happy." What about betrayed or grateful or jealous? Emoshkas are nesting dolls meant to help young children with emotional learning and conflict resolution.</p>
				</div>

				<div class='video-wrapper'>
					<iframe src="https://www.youtube.com/embed/Rul1RSdnAB8" width="560" height="200"></iframe>
				</div>

			</section>

			<section id='inspiration'>
				<div class="medium-8 medium-centered columns">
					<h1>From Inspiration to Metaphor</h1>
					<p>We started with question "how might we teach kids about complex emotions?" Our initial inspirations came from Inside Out's emotional overlaps and Shrek's metaphor of "[ogres] are like onions, we have to peel them back one layer at a time." In considering interactions that would teach both these concepts, we came to Russian nesting dolls as the most compelling metaphor. Its affordances enables teaching how our emotions have layers and that these layers might be represented differently.</p>
				</div>

				<figure class="large-12 columns">
					<img src="images/emoshkas/inspo.png">
					<figcaption>We started with existing mental models of emotions as explained by figures children are familiar with, such as Inside Out and Shrek. When we tried to mix the two, we ended up with the metaphor of stacking dolls.</figcaption>
				</figure>

				<div class="clearfix"></div>


			</section>


			<section id='context'>
				<div class="medium-8 medium-centered columns">
					<h1>Defining Context</h1>
					<p>We started by conducting an <a href="/assets/Emoshkas-BBAFinalProjectPacket.pdf">academic literature review</a> and <a href="/assets/Emoshkas-BBAFinalProjectPacket.pdf">existing products roundup</a>. Theories on social understanding explain that by early elementary school, children begin to identify emotions in themselves. Research also suggests that talking aloud through scenarios and taking on different perspectives teach children to solve problems through talking, not punching. We sketched a <a href="images/emoshkas/setup.png">few</a> <a href="images/emoshkas/playv1.jpg">different</a> <a href="images/emoshkas/playv2.jpg">storyboards</a>, to simulate play. Understanding where our product might fit in, we narrowed our context. </p>
				</div>

				<figure class="large-12 columns">
					<div class="row blocks">
						<div class="large-4 columns">
							<div>
								<h4>Users</h4>
								<p>5-8 year olds, beginning to identify feelings through external cues</p>
							</div>
						</div>
						<div class="large-4 columns">
							<div>
								<h4>Setting</h4>
								<p>Classroom, conflict resolution with teachers and peers through talking, not punching.</p>
							</div>
						</div>
						<div class="large-4 columns">
							<div>
								<h4>Learning Goal</h4>
								<p>Emotional understanding, through externalizing feelings and interacting with them</p>
							</div>
						</div>
					</div>
				</figure>
				<div class="clearfix"></div>
			</section>

			<section id='lowfi'>
				<div class="medium-8 medium-centered columns">
					<h1>Prototyping Assumptions</h1>
					<p>Using the storyboards we developed, we started prototyping to test our assumptions around the interactions and electronic forms of our dolls. We used paper cups to talk with education researchers and primary school teachers to iterate on different interactions. Once we determined how the dolls would be played with, we began prototyping with electronic components to see if we can determine distinct emotions. </p>
				</div>

				<figure class="large-12 columns">
					<div class="row">
						<div class="large-6 columns">
							<img src="images/emoshkas/lowfi.jpg" />
						</div>
						<div class="large-6 columns">
							<img src="images/emoshkas/techproto.jpg" />
						</div>
					</div>
					<figcaption>We started with easily accessible materials to prototype certain play interactions and mechanisms: retelling and revealing a story. We then moved onto detecting distinct emotions with electronic components. </figcaption>
				</figure>

				<div class="clearfix"></div>
			</section>

			<section id='highfi'>
				<div class="medium-8 medium-centered columns">
					<h1>Prototyping Finesse</h1>
					<p>We upgraded each component of our Emoshkas iteratively. First, we moved from a cardboard base to lasercutting acrylic and plywood. Then we used store-bought wooden dolls to glue magnets and embed wires, before finally testing it all together with Arduino code and neopixel components. </p>
				</div>

				<figure class="large-12 columns">
					<div class="row">
						<div class="large-8 columns">
							<img src="images/emoshkas/lasercut.png" />
						</div>
						<div class="large-4 columns">
							<img src="images/emoshkas/clickin.jpg" />
						</div>
					</div>
					<figcaption>We lasercut a plywood + acrylic base to house the electronic components, and used a combination of nails and magnets to create a "snapfit." </figcaption>
				</figure>

				<div class="clearfix"></div>
			</section>


			<section id='takeaways'>
				<div class="medium-8 medium-centered columns">
					<h1>Key Takeaways</h1>
					<h4>Don't be afraid to re-engineer the system</h4>
					<p>Our first fully functional prototype was tough. Although it expressed the core idea, it was finnicky, unreliable, and frustrating at best. We decided to completely redesign the connection points on both the base and the doll. The affordances of the new system using nails and magnets made the interactions much more enjoyable and fun to use. We reduced so many levels of user frustration, that the product itself was much more compelling.
					</p>
					<h4>Beautiful craft can be compelling in itself</h4>
					<p>At our final presentation expo, one of our visitors was a 6-year-old boy dragged along by his parents. When he came to our booth, he spent the whole hour just stacking, restacking the dolls, adding and removing the faces. Because of a language barrier, it is unclear if Emoshkas met the problem we were designing for, but perhaps the quality of the craft was compelling enough to play on end. 
					</p>
				</div>

			</section>

		</div>

	</div>

<% include templates/footer %>
<% include templates/scripts %>

</body>
</html>