<!DOCTYPE html>
<html>

<head>
<% include templates/head %>
<link rel='stylesheet' href='stylesheets/case.css' type='text/css'>
</head>

<body class='case-study' id="emoshkas-case">
	<div class='hero' id='emoshkas'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back"><a href="http://elainezhou.me"><img src="images/logoWhite.png" alt='Personal logo'></a></div>
				<div class="intro-text">
					<h1>Emoshkas</h1>
					<h2>Helping children understand complex emotions.</h2>
					<h3>Arduino, laser cutter | 2016</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='row case-content'>
		<div class='large-12 large-centered columns'>
			<section id='stats'>
				<div class="large-12 large-centered columns">
					<div class="row">
						<div class="large-7 medium-6 columns">
							<h4>Context</h4>
							<p>
							Coursework: 3 week project<br />
							Dream Team: Sarah Sterman, Nhien Tran
							</p>
						</div>
						<div class="large-5 medium-6 columns">
							<h4>Roles</h4>
							<p>Storyboarding, Prototyping, 3D Modeling, Electronics design</p>
							
						</div>
					</div>

				</div>
			</section>

			<section id='overview'>
				<div class="medium-8 medium-centered columns">
					<h1>Emotions have Layers</h1>
					<p>Emotions are complicated, and identifying or explaining them can be difficult for young children. We feel more than just "sad" or "happy." What about betrayed or grateful or jealous? Emoshkas are nesting dolls meant to help young children with emotional learning and conflict resolution.</p>
				</div>

				<div class='video-wrapper'>
					<iframe src="https://www.youtube.com/embed/Rul1RSdnAB8" width="560" height="200"></iframe>
				</div>

			</section>

			<section id='inspiration'>
				<div class="medium-8 medium-centered columns">
					<h1>From Inspiration to Metaphor</h1>
					<p>We started with question "how might we teach kids about complex emotions?" Our initial inspirations came from Inside Out's emotional overlaps and Shrek's metaphor of "[ogres] are like onions, we have to peel them back one layer at a time." In considering interactions that would teach both these concepts, we came to Russian nesting dolls as the most compelling metaphor. Its affordances enables teaching how our emotions have layers and that these layers might be represented differently.</p>
				</div>

				<figure class="large-12 columns">
					<img src="images/emoshkas/inspo.png" />
					<figcaption></figcaption>
				</figure>

			</section>

<!-- 			<section id='gameplay'>
				<div class="medium-8 medium-centered columns">
					<h1>Storyboarding Gameplay</h1>
					<p>Storyboarding  </p>
				</div>

			</section> -->

			<section id='takeaways'>
				<div class="medium-8 medium-centered columns">
					<h1>Key Takeaways</h1>
					<h4>Don't be afraid to re-engineer the system</h4>
					<p>Our first fully functional prototype was tough. Although it expressed the core idea, it was finnicky, unreliable, and frustrating at best. We decided to completely redesign the connection points on both the base and the doll. The affordances of the new system using nails and magnets made the interactions much more enjoyable and fun to use. We reduced so many levels of user frustration, that the product itself was much more compelling.
					</p>
					<h4>Beautiful craft can be compelling in itself</h4>
					<p>At our final presentation expo, one of our visitors was a 6-year-old boy dragged along by his parents. When he came to our booth, he spent the whole hour just stacking, restacking the dolls, adding and removing the faces. Because of a language barrier, it is unclear if Emoshkas met the problem we were designing for, but perhaps the quality of the craft was compelling enough to play on end. 
					</p>
				</div>

			</section>

		</div>

	</div>

<% include templates/footer %>
<% include templates/scripts %>

</body>
</html>