<!DOCTYPE html>
<html>

<head>
<% include templates/head %>
<link rel='stylesheet' href='stylesheets/case.css' type='text/css'>
</head>

<body class='case-study' id="etc-case">
	<div class='hero' id='etc'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back"><a href="http://elainezhou.me"><img src="images/logoWhite.png" alt='Personal logo'></a></div>
				<div class="intro-text">
					<h1>Etcetera</h1>
					<h2>An assortment of exercises in making</h2>
					<h3>2011-present</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='row case-content'>
		<div class='large-12 large-centered columns'>

			<section id='stats'>
				<div class="large-12 large-centered columns">
					<h4>Categories</h4>
					<ul class='inline-list hide-for-small'>
						<li>
						<a href="#field-research">Field Research</a></li>
						<li>
						<a href="#art">Installation Art</a></li>
						<li>
						<a href="#product-design">Product Design</a></li>
						<li>
						<a href="#graphic-design">Graphic Design</a></li>
					</ul>
					<ul class='no-bullet show-for-small'>
						<li>
						<a href="#field-research">Field Research</a></li>
						<li>
						<a href="#art">Installation Art</a></li>
						<li>
						<a href="#product-design">Product Design</a></li>
						<li>
						<a href="#graphic-design">Graphic Design</a></li>
					</ul>

				</div>
			</section>

			<section id='field-research'>
				<div class="medium-8 medium-centered columns">
					<h1>Field Research</h1>
					<h4>Bicycle Livelihoods </h4>
					<p>In China, despite rapid urbanization, many livelhoods are powered by bicycles and provide many serivces to the city. We interviewed a dozen people that use bicycles for their work, from garbage collection, to water tank deliveries, to making and selling breakfast. [Summer 2014, Beijing] </p>

				<figure>
					<img src='images/etc/wudaokou.gif' alt='Timelapse videos of bicycle livelihoods'>
				</figure>
				</div>

				<div class="medium-8 medium-centered columns">
					<h4>Bicycle Lifecycles</h4>
					<p>In a cross-cultural collaboration between Stanford and Tsinghua, we sought to understand the use of bicycles on university campuses. What are the barriers? How might we extending the lifecycle of these bikes? <a href="http://www.internationalurbanization.org/bicycle-urbanism.html">Check out the process</a>. [Fall 2014]</p>
				</div>
					
				<figure class='large-12 columns'>
					<img src='http://rshowbicycles.weebly.com/uploads/1/8/5/8/18589996/1417910518.png' alt='Overview of how bicycles relate to urban sustainability'>
				</figure>

			</section>

			<section id='art'>
				<div class="medium-8 medium-centered columns">
					<h1>Installation Art</h1>
					<h4>Respiration</h4>
					<p>We hoped to show that the light and energy of the city will always be a reflection of the individuals living in it. Quite literally, people breathe life into cities. <a href="respiration.elainezhou.me">Check out the process</a>.</p>
				</div>
				<figure>
					<div class='video-wrapper'>
						<iframe src="https://player.vimeo.com/video/98304156" width="500" height="281" allowfullscreen></iframe>
					</div>
					<div class='video-wrapper'>
						<iframe width="420" height="315" src="https://www.youtube.com/embed/5fHqWQB-RuA" allowfullscreen></iframe>
					</div>
				</figure>
			</section>

			<section id='product-design'>
				<div class="medium-8 medium-centered columns">
					<h1>Product Design</h1>
					<h4>Laser Cut Journal </h4>
					<p>Wood is typically inflexible, but by removing surface area and adding points of freedom, it suddenly becomes much more pliable. [Winter 2013] </p>
				</div>
					
				<figure class='large-12 columns'>
					<img src='images/etc/bookFront.jpg' alt='Front of book photo'>
					<img src='images/etc/spine.jpg' alt='Spine of book photo'>
				</figure>
				
				<div class="medium-8 medium-centered columns">
					<h4>Nautilus </h4>
					<p>Nautilus is a container whose purpose is to only fit one thing – this particular seafoam-colored rock, given to me at random. Otherwise, it is entirely purposeless. [Winter 2013] </p>
				</div>
				<div class="clearfix"></div>
				<figure class='large-12 columns'>
					<img src='images/etc/topview.jpg' alt='Photo of birds-eye view of Nautilus container'>
				</figure>

			</section>

			<section id='graphic-design'>
				<div class="medium-8 medium-centered columns">
					<h1>Graphic Design</h1>
					<h4>Shoe Land Graphic Design</h4>
					<p>During summers in Florida, I worked with a local small business to design marketing material. I curated the shoe selection from their bestsellers, took photos, and developed campaigns for three seasons. [Summers 2011, 2012]</p>
				</div>
				<div class="clearfix"></div>
				<figure class='large-12 columns'>
					<img src='images/etc/posters/posterA.jpg' alt='Poster for Shoe Land, featuring spring sandals and wedges'>
					<img src='images/etc/posters/posterB.png' alt='Poster for Shoe Land, featuring fall boots'>
					<img src='images/etc/posters/posterC.jpg' alt='Poster for Shoe Land, featuring heeled lace-up booties'>
					<img src='images/etc/posters/posterD.jpg' alt='Poster for Shoe Land, featuring fringe boots'>
					<img src='images/etc/posters/posterF.png' alt='Poster for Shoe Land, featuring assortment of boots'>
				</figure>
			</section>


		</div>
	</div>

<% include templates/footer %>
<% include templates/scripts %>

</body>
</html>

