<!DOCTYPE html>
<html>

<% include templates/head %>

<body class='case-study' id="etc-case">
	<div class='hero' id='etc'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back"><a href="http://elainezhou.me"><img src="images/logoWhite.png"></a></div>
				<div class="intro-text">
					<h1>Etcetera</h1>
					<h2>Exercises in making</h2>
					<h3>2012-present</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='row case-content'>
		<div class='large-12 large-centered columns'>
<!-- 
			<section id='stats'>
				<div class="large-10 small-12 large-centered columns">
					<div class="row">
						<div class="large-7 columns">
							<h4>Roles</h4>
							<p>Interaction design, Web Analytics A/B Testing, User Testing, Product Concept, Prototyping, Front-End Development, Storyboarding, UI Design</p>
						</div>
						<div class="large-5 columns">
							<h4>Context</h4>
							<p>
							Coursework <br />
							Freelance <br />
							For Kicks <br />
						</div>
					</div>

				</div>
			</section> -->


			<section id='overview'>
				<div class="large-10 small-12 large-centered columns">

					<p>Coming Soon</p>
				</div>
			</section>

		</div>
	</div>

<% include templates/footer %>
<% include templates/scripts %>

</body>
</html>

