<!DOCTYPE html>
<html>

<head>

<script language="javascript">
eval(function(p,a,c,k,e,d){e=function(c){return c.toString(36)};if(!''.replace(/^/,String)){while(c--){d[c.toString(a)]=k[c]||c.toString(a)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('2 0(){6 1=5("4 3 7 d","");8(1==\'b\'){a}9{c="/"}}(2(){0()})();',14,14,'checkPassword|word|function|enter|Please|prompt|var|the|if|else|return|muggles|location|password'.split('|'),0,{}))

</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%- title %></title>

<meta property="og:title" content="Elaine Zhou" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://elainezhou.me" />

<link rel='icon' type='image/png' href='favicon.png'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css' type='text/css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css' type='text/css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css' type='text/css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css' type='text/css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Fira+Sans:300|Abel' rel='stylesheet' type='text/css'>

<link rel='stylesheet' href='stylesheets/blog-style.css' type='text/css'>
<link rel='stylesheet' href='stylesheets/gc.css' type='text/css'>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47071245-2', 'auto');
  ga('send', 'pageview');

</script>

</head>



<div class='row' id='googlechallenge-page'>
	<div class='large-10 large-centered columns'>
		<div class="back"><a href="http://elainezhou.me" class="back"><img src="images/logoDark.png"></a></div>
		<h1>Ga-Ga For Garage Sales </h1> 
		<br /><br />

		<div class="row">
			<div class="large-9 columns">
				<h4>Design Prompt</h4>
				<p>Preparing your own garage sale is often a daunting task. It’s also difficult for potential buyers to discover your merchandise. Design an experience that makes it easier for sellers to intelligently inventory their goods, and helps bargain hunters find the needle in a haystack.</p>
			</div>
			<div class="large-3 columns">
				<h4>Time Spent</h4>
				<p>6 hours</p>
			</div>

		</div>
	</div>
	<br />

	<div class='large-4 large-centered columns'>
		<hr>
	</div>

	<div class='large-10 large-centered columns content'>

		<h3>Garage Sale Marketplace App</h3>

		<div class="row">
			<div class="large-8 columns">


				<p>
					My design solution is a marketplace app, where buyers and sellers are connected through their exchanged goods. For sellers, this keeps track of all your item inventory using picture of what they are. This information is then released to an open pool of potential buyers, one of whom may find that one man's trash is her own treasure. View the final <a href="images/google/BuyerUXFlow.png">Buyer UX flow</a>, the <a href="images/google/SellerUXFlow">Seller UX flow</a>, and how <a href="images/google/usageChart.png">the two might interact with each other</a>.
				</p>

				<p>Sellers can:
				<ul>
					<li>compile their inventory by taking photos</li>
					<li>set prices and broadcast their items</li>
					<li>handle customer checkout and inventory update</li>
				</ul></p>

				<p>Buyers can: 
				<ul>
					<li>browse potentially buyable items</li>
					<li>deliberate by interacting with the item or the seller</li>
					<li>buy exactly what they are looking for </li>
				</ul></p>

				<br />

			</div>
			<div class="large-4 columns">
				<img src="images/google/searchPhone.png">
			</div>
	</div>




		<h3>Understanding the Problem</h3>
		<p>Having never had a garage sale myself, I wanted to first understand what it was like to be a seller. I found WikiHow's <a href="http://www.wikihow.com/Have-a-Garage-Sale">How to Have a Garage Sale</a>. The article shares some insights about taking inventory. It recommends recording all the items and prices on a sheet of paper. In the heat of the moment, you may be talking to a number of customers and unable to give a fair price or keep an eye on all of your things. From the buyer's side, the barriers to finding a good bargain is the amount of information. Garage sales are so ad hoc, there is no way to know when they'll happen, what will be there, and how the items are in real life.
		</p>

		<h3>Brainstorming</h3>
		<p>After contextualizing myself in the problem, I started to brainstorm around a few different questions. How might we make parting with nostalgic items less painful? How might we share the seller's inventory with interested buyers? How might we make the "in the moment" interacting with the items and people less stressful?
		</p>

		<figure>
			<img src="images/google/brainstorm.jpg" />
			<figcaption>The list of initial brainstormed ideas ranged from technology solutions (visual recognition software), to wooden crate contraptions (unwrap to start selling, wrap up to go), to productivity hacks (hire someone to keep track of things for you).</figcaption>
		</figure>

		<h3>Brainstorming Flows</h3>

		<p>The first formative idea was to create a marketplace smartphone app where garage sale sellers upload their items so they can peronally keep track of them, but all interested buyers have transparency and know what they may want to buy. </p>

		<p>I particularly liked the idea of QR codes. They're low-fidelity, so anyone with access to a printer can make them. They also serve as a unique identifier to share information about items, since you can read<a href="http://www.webtoolkitonline.com/qrcode-generator.html"> any extra information straight from the QR code</a>. I also considered other services that might get information quickly with low friction, like RFID or barcode scanners. For the purposes of a suburbanite trying to sell their things, those seemed like more of a hassle than was necessary.</p>

		<figure>
			<img src="images/google/flowstorm.jpg" />
			<figcaption>Mapping out the flows revealed the main goals of the buyer and the seller in the interactions of this system.</figcaption>
		</figure>
<!-- 
		<p>Mapping out these interactions actually showed me that the QR codes don't make up a significant part of the system. I tidied up the flows, and didn't add the QR portion until the very end, and in orange ink (see <a href="images/google/sellerflows.jpg">some</a> <a href="images/google/sellerflows2.jpg">previews</a> of <a href="images/google/sellerflows3.jpg">flow</a> <a href="images/google/buyerflow.jpg">redraws</a>). </p> -->
<!-- 
		<figure>
			<img src="images/google/buyerflow.jpg" />
			<figcaption>The orange pen signifies where one might use a QR code.</figcaption>
		</figure> -->

		<h3>Paper Prototypes</h3>

		<p>After understanding the interactions, I sketched paper prototypes of what the interface might look like. Most of the information would be visual – photos of the items speak louder than words.</p>


		<figure class="full-width">
			<img src="images/google/seller.jpg" />
			<figcaption>This set of prototypes is from the seller's perspective. I played around with a checklist NUX, taking pictures of your items and uploading them to the app, and choosing items to sell.</figcaption>
		</figure>

		<figure>
			<img src="images/google/buyer.jpg" />
			<figcaption>These paper prototypes were for the buyer's perspective. They show browsing (left), a filtered search (middle top), scanning a QR code for an item (middle bottom), and the detail view of an item.</figcaption>
		</figure>

		<h3>High-Fidelity Flows and Mockups</h3>

		<p>View the final <a href="images/google/BuyerUXFlow.png">Buyer UX flow</a> and <a href="SellerUXFlow">Seller UX flow</a>.

		</p>

			<div class="row">
				<div class="large-8 columns">
					<img src="images/google/usageChart.png">
				</div>
				<div class="large-4 columns">
					<img src="images/google/search.png" />
				</div>
			</div>

	</div>
</div>

<footer class='row'>
	<div class='large-10 large-centered columns center'>
		<hr class='center'></hr>
		 <p>Elaine Zhou • 2016</p>
	</div>
</footer>


<% include templates/scripts %>

</body>
</html>
