<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%- title %></title>

<meta property="og:title" content="Elaine Zhou" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://elainezhou.me" />

<link rel='icon' type='image/png' href='favicon.png'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css' type='text/css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css' type='text/css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css' type='text/css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css' type='text/css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Fira+Sans:300|Abel' rel='stylesheet' type='text/css'>

<link rel='stylesheet' href='stylesheets/blog-style.css' type='text/css'>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47071245-2', 'auto');
  ga('send', 'pageview');

</script>

</head>



<div class='row content' id='productchallenge-page'>
	<div class='large-9 large-centered columns'>
		<div class="back"><a href="http://elainezhou.me"><img src="images/logoDark.png"></a></div>
	<h1>Crazy for Crock-Pot </h1> 

	<p>
	I remember how I was inducted into the Crock-Pot cult. After a recommendation from a friend, I ordered one on Amazon. A few days later, I budgeted a few hours to assemble the box, but realized there was none necessary. That night, my roommates and I bought all the ingredients to make beef stew — beef, bullion, carrots, peas, and potatoes. We googled a recipe, and followed the instructions exactly. “Put all the ingredients into the pot. Cover and cook on low for 6-8 hours.” <br /><br /></p>

	<figure>
		<img src="images/crockpot1.png" />
		<figcaption>I cannot impress upon how amazed I was. I made real-people food!</figcaption>
	</figure>

	<p>
	And that was it. Let me reiterate. That was ALL we had to do. Put the ingredients in, turn it on, leave, go on with our merry days. Then, voila! We had food! There was our stew, steaming hot, ready to be served, and absolutely delicious. Perfectly tender meat, savory soup, and carrots cooked all the way. The options for Crock-Pot meals were limitless: pastas, Chinese food, chilis, breakfast oatmeal, dips, desserts and cakes. <br /><br />

	This was game-changing. I could have food, delicious food, and healthy food with minimum effort. Most things in life you’re told you need to work for and there’s lots of room for error. You run through a mental checklist of things you might have forgotten, you fret that you didn’t do it right. But the Crock-Pot is like a hairdresser that you’ve known your whole life — dependable, reliable, and unfailingly does exactly as you expect.

	<blockquote>Crock-pot: dependable, reliable, and unfailingly does exactly as you expect</blockquote>

	<p>To me, a game-changing product is brilliant in its <strong>utility</strong> and flawless in its <strong>execution</strong>. For <strong>utility</strong>, the product provides users with what they need. The <strong>execution</strong> layer shows how easy and pleasant these features are to use. Another way to think of this is low-floor, high-ceiling: easy to for anyone to pick up and use, but allows for endless possibilities once its been picked up. Finally, a product should change the way that you view the world and what is possible. Take away the product and the person's mentality should have been changed by the product. <br /><br />

	If you ask any of my friends, chances are, I’ve brought up the Crock-Pot in conversation. It’s a product that’s changed my life; I can’t stop thinking about it. <br /><br />

	</p>


	<h3>Users &amp; Needs</h3>

	<p>You could substitute my background as an analogous user group to other similarly busy people:</p>
	<ul>
		<li>
		<p>Students who have never been in the kitchen before</p></li>
		<li>
		<p>Young professionals who don’t have the luxury of working at Google or Facebook</p></li>
		<li><p>
		Two-earner families, both work 9-5 jobs, possibly pick up kid(s), leaves little time to make dinner. Needs to feel a sense of pride after cooking</p></li>
	</ul>

	<p>
	Essentially, people with overstuffed schedules need convenient meals to spend more time on the rest of their day. Unlike previous generations, millennials and families today need their food to be tasty and healthy. <br /><br /></p>


	<h3>The Design</h3>

	<p>
	Crock-Pots are thoughtfully designed in their simplicity. With just 3 parts — a silver aluminum base with heat dial, ceramic pot that can be reused as a serving bowl, and clear lid to cover the pot - they let you cook with ease and focus on what's important. There’s little assembly required — you push the plug into the outlet, close the lid, and turn the dial. After cutting the vegetables, there’s no tools required. You throw them in the pot, and eat hours later.<br /><br /></p>

	<figure>
		<img src="images/crockpot2.png" />
		<figcaption>There are a lot of confusing rules and materials that come with kitchen tools. Crock-Pot just requires itself, nothing more. </figcaption>
	</figure>	

	<p>
	Compare this setup with that of your typical kitchen. There’s a 4-grill stove top, oven, you have your pots, pans, spatulas, olive oil, etc. Consider all the implicit knowledge that you must have before using a majority of the kitchen tools: you have to buy a non-stick pan, you have to cover the pan in oil or spray it with PAM, you have to start with the heat on high then turn it down to simmer, and sometimes toss things every so often, but using a wooden spatula will make your food taste different than a plastic or metal one. It’s a lot. <br /><br />

	The immediate utility of a Crock-Pot is that of yummy food. However, the deeper need is that of familial comfort — cooking is a daunting and scary endeavor for those of us who haven’t had any experience before. With a Crock-Pot, you’re investing in the comfort and a guarantee that nothing will go wrong. That idea is a powerful one, and one that is reflected in the simplicity of the physical design.<br /><br /></p>

	<blockquote>The deeper need is that of familial comfort — cooking is a daunting and scary endeavor for those of us who haven’t had any experience before. With a Crock-Pot, you're investing in the comfort and a guarantee that there’s nothing will go wrong</blockquote>


	<h3>The Psychology </h3>

	<p>The essence of Crock-Pot’s allure is in its technology but also in its physical design. Although the technology itself is from the 1970s, the Crock-Pot has resurged in popularity since 2002. There are many tenants for which digital products can also look towards. The Crock-pot appeals to several fundamental human needs:
		<ul><li>
	<strong>Ease</strong> : reduction of fear of messing up the food. There's just one control, and one that's recommended you don't touch after starting the Crock-Pot. </li>
	<li>
	<strong>Completion</strong> : results in a final product for which you can say proudly say “I did this”. Finish cooking, and immediately take your food from the Crock-Pot to the table, ready to share, ready to eat</li>
	<li>
	<strong>Freedom of self-expression</strong> : like cooking, the crock-pot allows choosing the foods you want to put in it, adding your own finishing touches at the end, and they allow for infinite customizations to food that’s uniquely you</li>
</ul>

<br /></p>


	<h3>The Opportunity</h3><br />

	<p>
	<i>Opportunity #1: Partnership with Grocers</i><br />

	Crock-Pot already offers ready-made Crock-Pot meal boxes, which you can order online. However, you cannot find these in grocery stores, although you can readily buy the Crock-Pot at your local Safeway. Given that a core value of Crock-Pot is gourmet, easy meals: being able to pick up your meals at various locations is a strong strategic fit. This can be with frozen food companies for bagged meals you toss into your Crock-Pot, or this could be with farmers markets to create fresh food baskets. <br /><br />

	An underutilized lever would be integrations with existing supermarkets and grocery stories. If Crock-Pot could negotiate a sampling stand, imagine a Dylan’s Candy Bar + Costco type experience: you enter the space with nothing but a bag, but you can taste different meal options, grab the associated ingredients, and leave with a variety of foods to go home, throw into a Crock-Pot, and make your meal. <br /><br />

	<i>Opportunity #2: Hardware Extendability</i><br />

	Recent iterations of Crock-Pots have included a ceramic pot that can be easily removed from the base and taken to parties, tailgates, or the dinner table. However, as aforementioned, users may want to have their own grab and go meals. Crock-Pot may be able to capitalize on this and create separate ceramic pots with the same heated base. The idea would be to allow individuals to create multiple grab-and-go meals without having to transfer from the pot to another container. Blenders use a similar design mechanism, in which the top container part can be swapped out for a single-serve to-go bottle.<br /><br />


	<h3>Crock-Pot Challenges in a Digitally Enhanced World</h3>

	<p>
	We’re a on-demand, on-the-go, give-it-to-me-now society and Crock-Pots might be the exact antithesis. Perhaps the biggest challenge might be whether or not we accept the “slow” cooker in our fast-paced society. However, there’s evidence that we might be on the curb of a counter-culture, diverging from the way that we used to approach our material possessions with faster, bigger, more. <br /><br />

	Roberto Ferdman writes, “I think [the drop off in microwave sales] is indicative of a big shift in consumer preferences… that convenience alone isn’t enough.” On one level, perhaps this means we’re want to invest in our food and how we make it. Frozen ready meals have declined since 2008, and instead my generation has grown up with “gourmet” fast-casual with the likes of Chipotle, demanding more quality and preparation, less mindless, cheap consumerism. <br /><br />

	Although we seek quality in our food, we moreso yearn the comfort and reassurance that everything will be okay. We work so hard already, with friends, family, and work. We don't want to have to come home to work again to put food on our plates. What’s interesting to extrapolate from the Crock-Pot is how the system builds a sense of trust and security, something that is lacking in our digital apps. <br /><br />

	<blockquote>We work so hard already, with friends, family, and work. We don't want to have to come home to work again to put food on our plates.  </blockquote>

	<p>Why don't we have more faith in our digital world? Do our digital products ever go from "working" to "done"? Can we recreate a similar sense of reliability and comfort? Consider the ubiquity of progress bars. With many systems (Doordash, Amazon, Shyp), we as consumers yearn to know the fine-grained details between states 0% to 100%. We want to know “is it here yet, is it here yet?”. On a micro-level, we don’t trust that our text message will be sent or our app will download. On a larger level, we don’t trust that the services and apps that we used yesterday (Parse, Mailbox, Sunrise) will be around tomorrow. Unlike our food, expiration dates on our apps spring up on us. <br /><br />

	Crock-Pot’s design decision to use a clear lid but remove any notion of progress is an interesting one. This allows for transparency, but engages the user in a pact — you aren’t supposed to open the lid while the heat is on, but have faith that it will end up cooked. This builds a sense of trust between the user and the Crock-pot. You can’t refresh the Crock-Pot like you refresh the page, the Crock-Pot simply does not allow for room to fret. The only option is to take your mind off the Crock-Pot. <br /><br />

	It will be ready soon enough. <br /><br /><br /></p>

	<h3>References</h3><br />
		<ul>
		<li><a href="http://healthy-cookware.com/advantages-of-using-wooden-kitchen-tools/">http://healthy-cookware.com/advantages-of-using-wooden-kitchen-tools</a></li>
		<li><a href="https://www.washingtonpost.com/news/wonk/wp/2015/01/23/the-unfulfilled-promise-of-the-crock-pot-an-unlikely-symbol-of-womens-equality/">https://www.washingtonpost.com/news/wonk/wp/2015/01/23/the-unfulfilled-promise-of-the-crock-pot-an-unlikely-symbol-of-womens-equality/</a></li>
		<li><a href="http://www.foodnavigator-usa.com/Markets/The-slow-death-of-the-microwave-and-the-rise-of-the-Crock-Pot-Can-food-be-too-convenient">http://www.foodnavigator-usa.com/Markets/The-slow-death-of-the-microwave-and-the-rise-of-the-Crock-Pot-Can-food-be-too-convenient</a></li>
		<li><a href="http://qz.com/559770/how-the-american-middle-class-lost-its-taste-for-mindless-consumerism/">http://qz.com/559770/how-the-american-middle-class-lost-its-taste-for-mindless-consumerism/</a></li>
		<li><a href="http://qz.com/187743/the-slow-death-of-the-microwave/#/h/55272,2/">http://qz.com/187743/the-slow-death-of-the-microwave/#/h/55272,2/</a></li>
		</ul>
	</div>

</div>

<footer class='row'>
	<div class='large-10 large-centered columns center'>
		<hr class='center'></hr>
		 <p>Elaine Zhou • 2016</p>
	</div>
</footer>


<% include templates/scripts %>

</body>
</html>
