<!DOCTYPE html>
<html>

<head>
<% include templates/head %>
<link rel='stylesheet' href='stylesheets/case.css' type='text/css'>
</head>


<body class='case-study' id="dconstraints-case">
	<div class='hero' id='dconstraints'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back"><a href="http://elainezhou.me"><img src="images/logoWhite.png" alt='Personal logo'></a></div>
				<div class="intro-text">
					<h1>d.constraints</h1>
					<h2>Manipulating constraints to increase creativity.</h2>
					<h3>Javascript, HCI Research | 2013, 2015</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='case-content row'>
		<div class='large-12 large-centered columns'>
			<section id='stats'>
				<div class="large-12 medium-centered columns">
					<div class="row">
						<div class="large-7 medium-6 columns">
							<h4>Context</h4>
							<p>
							Undergraduate Honors Thesis<br />
							2013 <a href='http://uist.acm.org'>ACM UIST</a> Presenter<br />
							2015 Stanford UAR Grant Recipient
							</p>
						</div>
						<div class="large-5 medium-6 columns">
							<h4>Roles</h4>
							<p>Experiment Design, Survey Design, Statistical Hypothesis Testing</p>
						</div>
					</div>

				</div>
			</section>


			<section id='overview'>
				<div class="medium-8 medium-centered columns">
					<h1>Bounding Creativity</h1>
					<p>Although constraints are inherent to any creative design, constraints are not static, but rather dynamic, as problems and solutions evolve together. This research investigates if narrowing design constraints at various stages of the design process affects final creative results in an iterative and parallel prototyping process. 
					</p>

					<p>If you're interested, check out the <a href="https://purl.stanford.edu/tf829zy3088">full paper</a>.</p>
				</div>
			</section>

			<section id='inspiration'>
				<div class="medium-8 medium-centered columns">
					<h1>Inspiration</h1>

					<p>During my sophomore year, I helped a health startup brainstorm and define their next product with a team of Stanford students. Initially, their team told us to “Shoot for the stars!” with essentially no restrictions or requirements. However, our ideas were met with resistance and new specifications that we had to include. One day, it had to be a “social network”, and the next day it was “hyper-local.” My teammates were livid, because the startup didn’t define the problem at all! However, what they saw as a lack of communication and clarity of the end result, I saw as additional design constraints.</p>

					<blockquote>
						Often, constraints change during a project. Are we the most creative if constraints come early or late?
					</blockquote>

					<p>
					This got me thinking – traditionally designers like to work with all of the information at the start, but does that introduce too much detail? What exactly is the effect of delaying constraints in the creative process? Can we optimize individual creativity by changing the presentation of the problem to gradual pieces and bite-size chunks? This was the inspiration behind the research.
					</p>
				</div>
			</section>

			<section id='process'>
				<div class="medium-8 medium-centered columns">
					<h1>Process</h1>

					<p>In this experiment, participants were led through a design process modeled off the d.school. They were asked to create a web ad for Stanford. The process started by brainstorming many ideas, prototyping a few, getting feedback, and iterating on 1 final design. 

					I tested three conditions to figure out when the best time to introduce a constraint was – either from the beginning, after brainstorming, or after prototyping. 

					The constraint I added was that the images had to be tall banner ads targeted towards those interested in medicine. In the initial prompt, the task was to design a static web ad for Stanford University. The narrowed constraint was: the ad must be 160 x 600 pixels (2.6 inches x 10 inches) and targeted towards those interested in medicine. 
					</p>
				</div>

				<figure class="large-12 columns">
					<img src='images/studyOverview.png' alt='Graphic showing overview of creativity study'>
					<figcaption>The experiment led participants through a four-step design process. I tested three conditions to see when the best time to introduce a constraint was – from the beginning, after brainstorming, or after prototyping. </figcaption>
				</figure>
			</section>

			<section id='results'>
				<div class="medium-8 medium-centered columns">
					<h1>Results</h1>

					<p>Results indicate that those received the narrow constraints after prototyping yielded the most novel results, as rated by a panel of experts.
					</p>

					<figure>
						<div class="slideshow" id="research-results">
							<div>
								<img src='images/dconstraints/app_nov.png' alt='Results of appropriateness and novelty scores'>
							</div>
							<div>
								<img src='images/dconstraints/n.png' alt='Increase in novelty scores across groups was found to be significant'>
							</div>
						</div>
						<figcaption>The group that received late constraints had highest novelty and appropriateness ratings, although only the increase in novelty was found to be significant (p &lt; 0.05).  
						</figcaption>
					</figure>
				</div>

				<div class="medium-8 medium-centered columns">
					<p>
						From the literature, we have a hypothesis for why this might be true.

						When participants are given a high level of detail from the start, they ended up fixating on making an ad that was appropriate, rather than exploring a breadth of options. That exploration is what encourages novelty. 

						Thus, late constraints allowed the participants to overcome fixation. This enabled them to adapt initial concepts to new constraints, which can be a source of creativity.
					</p>

					<blockquote>
						Late constraints yield more novel results. Prototyping can be a way to explore new ideas and overcome fixation.
					</blockquote>

				</div>
			</section>

			<section id='takeaways'>
				<div class="medium-8 medium-centered columns">
					<h1>Key Takeaways</h1>
					<h4>Don't be afraid to jump into prototyping</h4>
					<p>One of the main findings was that late constraints perhaps yield more novel results, and that prototyping can be a method of exploration. If you feel that you are "stuck," you might try to sketch or build your way forward. Inspiration may just come from doing. </p>
					
				</div>
			</section>

		</div>
	</div>

	<% include templates/footer %>
	<% include templates/scripts %>
	<script>
		$("#research-results > div:gt(0)").hide();

		setInterval(function() { 
		  $('#research-results > div:first')
		    .fadeOut(1000)
		    .next()
		    .fadeIn(1000)
		    .end()
		    .appendTo('#research-results');
		},  3000);

	</script>

</body>
</html>