<!DOCTYPE html>
<html>

<head>
<% include templates/head %>
<link rel='stylesheet' href='stylesheets/case.css' type='text/css'>
</head>

<body class='case-study' id="dconstraints-case">
	<div class='hero' id='dconstraints'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back"><a href="http://elainezhou.me"><img src="images/logoWhite.png"></a></div>
				<div class="intro-text">
					<h1>d.constraints</h1>
					<h2>Manipulating constraints to increase creativity.</h2>
					<h3>Javascript, HCI Research | 2013, 2015</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='case-content row'>
		<div class='large-12 large-centered columns'>
			<section id='stats'>
				<div class="large-10 small-12 large-centered columns">
					<div class="row">
						<div class="large-7 columns">
							<h4>Roles</h4>
							<p>Experiment Design, Survey Design, Statistical Hypothesis Testing</p>
						</div>
						<div class="large-5 columns">
							<h4>Context</h4>
							<p>
							Undergraduate Honors Thesis<br />
							2013 ACM UIST Presenter<br />
							2015 Stanford UAR Grant Recipient
							</p>
						</div>
					</div>

				</div>
			</section>


			<section id='overview'>
				<div class="large-10 small-12 large-centered columns">
					<h3>Bounding Creativity</h3>
					<p>Although constraints are inherent to any creative design, constraints are not static, but rather dynamic, as problems and solutions evolve together. This research investigates if narrowing design constraints at various stages of the design process affects final creative results in an iterative and parallel prototyping process. 
					</p>

					<p>If you're interested, check out the <a href="https://purl.stanford.edu/tf829zy3088">full paper</a>.</p>
				</div>
			</section>

			<section id='inspiration'>
				<div class="large-10 small-12 large-centered columns">
				<h3>Inspiration</h3>

				<p>During my sophomore year, I helped a health startup brainstorm and define their next product with a team of Stanford students. Initially, their team told us to “Shoot for the stars!” with essentially no restrictions or requirements. However, our ideas were met with resistance and new specifications that we had to include. One day, it had to be a “social network”, and the next day it was “hyper-local.” My teammates were livid, because the startup didn’t define the problem at all! However, what they saw as a lack of communication and clarity of the end result, I saw as additional design constraints.</p>

				<blockquote>
					What exactly is the effect of delaying constraints in the creative process?
				</blockquote>

				<p>
				This got me thinking – traditionally designers like to work with all of the information at the start, but does that introduce too much detail? What exactly is the effect of delaying constraints in the creative process? Can we optimize individual creativity by changing the presentation of the problem to gradual pieces and bite-size chunks? This was the inspiration behind the research.
				</p>
				</div>
			</section>

			<section id='process'>
				<div class="large-10 small-12 large-centered columns">
				<h3>Process</h3>

				<p>The study manipulates the structure of the design process in creating a web ad, as shown below. Participants were separated into 3 groups, defined by whether a narrow constraint was introduced early, middle, or late in the process. In the initial prompt, the task was to design a static web ad for Stanford University. The narrowed constraint was: the ad must be 160 x 600 pixels (2.6 inches x 10 inches) and targeted towards those interested in medicine.
				</p>

				<figure>
					<img src='images/studyOverview.png'>
					<figcaption>Study Overview</figcaption>
				</figure>
				</div>
			</section>

			<section id='results'>
				<div class="large-10 small-12 large-centered columns">
				<h3>Results</h3>

				<p>Results indicate that those who brainstormed and prototyped before receiving the narrow constraints yielded results that were both more novel and more appropriate than other groups. This research project at the 2013 <a href='http://uist.acm.org'>ACM Symposium on User Interface Software Technology (UIST)</a> in St. Andrews, Scotland. 
				</p>

			</section>
		</div>
	</div>

	<% include templates/footer %>
	<% include templates/scripts %>

</body>
</html>