<!DOCTYPE html>
<html>

<head>
<% include templates/head %>
<link rel='stylesheet' href='stylesheets/case.css' type='text/css'>
</head>

<body class='case-study' id="sixdegree-case">
	<div class='hero' id='sixdegree'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back">
					<a href="http://elainezhou.me"><img src="images/logoWhite.png" alt='Personal logo'></a>
				</div>
				<div class="intro-text">
					<h1>SixDegree</h1>
					<h2>Visualizing relationship strengths.</h2>
					<h3>Adobe Photoshop, After Effects | 2014</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='row case-content'>
		<div class='large-12 large-centered columns'>
			<section id='stats'>
				<div class="large-12 large-centered columns">
					<div class="row">
						<div class="large-8 medium-7 columns">
							<h4>Roles</h4>
							<p>Interviews, interaction design, motion design</p>
						</div>
						<div class="large-4 medium-5 columns">
							<h4>Context</h4>
							<p>Coursework</p>
						</div>
					</div>
				</div>
			</section>


			<section id='overview'>
				<div class="large-10 small-12 large-centered columns">
					<h3>Harness your professional world.</h3>
					<p>We're somehow "connected" to thousands of people, but how might we get to know friends of our friends? SixDegree is a conceptual tool that helps job seekers and recruiters alike to gain context and insight into one's aggregated networks.
					</p>
				</div>
			</section>
			<section id='seekers'>
				<div class="large-10 small-12 large-centered columns">
					<h3>For Job Seekers</h3>
					<p>
						Interviews with students revealed that sometimes landing a job requires reaching out to a brother's ex-roommate or a mentor's other mentee. Sociologist Mark Granovetter's research also asserts that second and third degree, <a href='https://sociology.stanford.edu/sites/default/files/publications/the_strength_of_weak_ties_and_exch_w-gans.pdf'>less direct relationships are most effective</a>. In fact, many of the students we talked to were cognizant of this fact. Unfortunately, there's no way to discover distant, but efficacious relationships without manually crawling through contact lists or relying on luck. SixDegree aimed to weight and relationps to help people find distant degree connections with a strong relationship path.
					</p>
					<blockquote>
						I know people who know people in journalism, but I don't know which of them to ask for help.
					<footer>-Stanford Student</footer>
					</blockquote>
						

					<div class='video-wrapper'>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/oX1zUhBw6ak" allowfullscreen></iframe>
					</div>
				</div>
			</section>
			<section id='recruiters'>
				<div class="large-10 small-12 large-centered columns">
					<h3>For Recruiters</h3>
					<p>
						Networking is a two-sided coin, and our interviews revealed that recruiters have similar problems for slightly different reasons. Recruiters currently suffer low yield, scattering their time across various sources. Follow-up and follow-through are the most difficult components of recruiting, so SixDegree aimed to improve on  recruiter-candidate communication channels. 
					</p>
					<blockquote>
						Talking with a potential recruit shouldn't feel like a stranger.
					<footer>-Michael Page recruiter</footer>
					</blockquote>

					<div class='video-wrapper'>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/8xVA8M-pu1U" allowfullscreen></iframe>
					</div>
					<figure>
						<figcaption>Recruiter UI video by Andy Elder</figcaption>
					</figure>
				</div>
			</section>
		</div>
	</div>

<% include templates/footer %>
<% include templates/scripts %>

</body>
</html>