<!DOCTYPE html>
<html>

<head>
<% include templates/head %>
<link rel='stylesheet' href='stylesheets/case.css' type='text/css'>
</head>

<body class='case-study' id="smartcart-case">
	<div class='hero' id='smartcart'>
		<div class='intro row'>
			<div class='large-12 large-centered columns'>
				<div class="back"><a href="http://elainezhou.me"><img src="images/logoWhite.png" alt='Personal logo'></a></div>
				<div class="intro-text">
					<h1>SmartCart</h1>
					<h2>Finding items and checking out in grocery stores. </h2>
					<h3>Android, AutoCAD | 2013</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='row case-content'>
		<div class='large-12 large-centered columns'>
			<section id='stats'>
				<div class="large-10 medium-8 small-12 medium-centered columns">
					<div class="row">
						<div class="large-7 columns">
							<h4>Roles</h4>
							<p>Needfinding, Interaction Design, User Testing, Prototyping, 3D Modeling</p>
						</div>
						<div class="large-5 columns">
							<h4>Context</h4>
							<p>
							Coursework at Stanford<br />
							CS247 Instructors' Choice Award</p>
						</div>
					</div>

				</div>
			</section>

			<section id='overview'>
				<div class="medium-8 medium-centered columns">
					<h1>Shop Smarter</h1>
					<p>Why does a trip to Safeway feel like a necessary evil? Stores are maze-like, items are elusive or forgotten, and waiting to checkout is a pain. SmartCart tackled two major pain points in the grocery shopping experience: finding items and checking out.  </p>
				</div>

				<div class='video-wrapper'>
					<iframe src="https://www.youtube.com/embed/7QvktffdVp4" width="560" height="200" allowfullscreen></iframe>
				</div>

			</section>


			<section id='shopping-styles'>
				<div class="medium-8 medium-centered columns">
					<h1>Shopping Styles</h1>
					<p>We observed a variety of shoppers at different Safeway locations in the surrounding Palo Alto. We found three common behaviors amongst shoppers: browsing, seeking, or (executing on) planning. These are not mutually exclusive, instead shoppers tend to frequently switch between styles even on any given trip.
					</p>
				</div>

				<div class="large-12 large-centered columns">
					<figure class="row">
						<div class="medium-4 columns">
							<h4>Browse</h4>
							<img src="images/smartcart/browse.png" />
							<p>Perusing while open to new items</p>
						</div>
						<div class="medium-4 columns">
							<h4>Seek</h4>
							<img src="images/smartcart/seek.png" />
							<p>Scanning for a specific item</p>
						</div>
						<div class="medium-4 columns">
							<h4>Plan</h4>
							<img src="images/smartcart/plan.png" />
							<p>Prepared to execute with a list</p>
						</div>
					</figure>
				</div>
			</section>


			<section id='approach'>
				<div class="medium-8 medium-centered columns">
					<h1>The Approach</h1>
					<p>We wanted to focus on reducing the hassles of finding items and checking out. Since grocery shopping is such a personal yet universal chore, we hoped to design a solution that enhanced existing behaviors, without forcing a steep learning curve. The concept of SmartCart was born, a tablet app used with existing grocery tools that everyone is familiar with – shopping carts.</p>
				</div>

<!-- 				<figure class='large-12 large-centered columns blocks'>
					<div class='row'>
						<div class='large-6 columns'>
							<h4>Finding Items</h4>
							<p></p>
						</div>
						<div class='large-6 columns'>
							<h4>Checking Out</h4>
							<p></p>
						</div>

					<div>
				</figure> -->

			</section>


			<section id='features'>
				<div class="medium-8 medium-centered columns">

					<h1>Key Features</h1>
					<div class="center table">
						<ul class='gif-menu inline-list hide-for-small'>
							<li>
							<a href="#features" id="list">Existing List</a></li>
							<li>
							<a href="#features" id="find">Find Items</a></li>
							<li>
							<a href="#features" id="buy">Buy</a></li>
							<li>
							<a href="#features" id="checkout">Checkout</a></li>
						</ul>
					</div>
					<ul class='no-bullet show-for-small gif-menu'>
						<li>
						<a href="#features" id="list">Existing List</a></li>
						<li>
						<a href="#features" id="find">Find Items</a></li>
						<li>
						<a href="#features" id="buy">Buy</a></li>
						<li>
						<a href="#features" id="checkout">Checkout</a></li>
					</ul>
				</div>

				<figure class='large-12 columns'>
					<div class="gif-list">
						<div id="video-list" >
							<img src="images/smartcart/QRCodeClip.gif" />
						</div>
						<div id="video-find" >
							<img src="images/smartcart/search.gif"/>
						</div>
						<div id="video-buy" >
							<img src="images/smartcart/buying.gif" />
						</div>
						<div id="video-checkout" >
							<img src="images/smartcart/checkout.gif" />
						</div>
					</div>
				</figure>

				&nbsp;

			</section>


			<section id='prototyping'>
				<div class="medium-8 medium-centered columns">

					<h1>Prototyping &amp; User Testing</h1>

					<h3>Buying Items</h3>

					<p>Our intention in reducing wait times for check out was to collectively build up a list of items a shopper intended to buy. We thought about grocery items as (1) those with bar codes and (2) those without, like fruits and vegetables. We Wizard-of-Oz'd this interaction by asking participants to try scanning real-life items (like ramen) using the front and rear cameras on the tablet.</p>
				</div>

				<figure class="large-12 columns">
					<img src='images/smartcart/barcode.png' alt='Visual feedback when scanning a barcoded item' />
					<figcaption>Scanning a barcoded-item provides visual feedback once the scan is successful.</figcaption>
				</figure>

				<div class="medium-8 medium-centered columns">
					<p>Produce became tricky. One concept used computer vision to determine the color of produce, wifi to narrow the list to produce within range, and then prompted the user to select from a shortlist the correctly scanned item by swiping through. Although we mocked this up, we ended up not persuing this idea due to time and technology constraints.</p>


					<figure>
						<div class="slideshow" id="barcode-scanning">
							<div>
								<img src='images/smartcart/007.png' alt='Interface to choose from differen produce of the same color'>
							</div>
							<div>
								<img src='images/smartcart/008.png' alt='Interace to choose the correct produce'>
							</div>
							<div>
								<img src='images/smartcart/009.png' alt='Interface to confirm your selection'>
							</div>
						</div>
						<figcaption>In this produce-buying concept, the camera determines  the color of the produce, then wifi narrows the list down to a few items in range. Finally, the user confirms from a short list. Unfortunately, we did not persue this path.</figcaption>
					</figure>
				</div>

				<div class="medium-8 medium-centered columns">

					<p>Through user testing, we found that neither the front camera nor back camera was intuitive as a scanning mechanism. People also expressed worry about whether the camera was always on and always watching. We learned that lags created frustration, and lack of feedback in our Wizard of Oz demo was very confusing. For an action as critical as buying and scanning, it should be quick and reliable. More importantly, the purchasing decision should install a sense of confidence. 
					</p>

					<blockquote>
						Core actions, like scanning items should be quick, reliable, and instill confidence in the system.
					</blockquote>

					<p>We decided to try a handheld laser scanner. In our user testing, if we just left the barcode scanner by the tablet, people instinctively knew to pick it up and use it. Many of the problems we faced when using the camera (security, lag, awkwardness) did not exist.</p>

				</div>

				<figure class="large-12 columns">
					<img src='images/smartcart/scanner.jpg' alt='Handheld laser scanner'>
					<figcaption>No, this is not a hairdryer. We started prototyping with a handheld laser scanner, since the front and back cameras seemed either inaccurate or awkward. </figcaption>
				</figure>

				<div class="medium-8 medium-centered columns">

					<h3>Finding Items</h3>

					<p>Our observations showed that people have widely different processes to go about grocery shopping. Some go into stores prepared with a list, some tend to buy impulsively, others span both behaviors. Because these habits are so personal, we stayed away micro-managing or optimizing people's shopping in a prescriptive way. Instead, we prioritized letting users find their own way around the store with some guidance, without being intrusive.</p>
				</div>

				<figure class="large-12 columns">
					<div class="row">
						<div class="small-4 columns">
							<img src='images/smartcart/andy.png'>
						</div>
						<div class="small-4 columns">
							<img src='images/smartcart/alan.png'>
						</div>
						<div class="small-4 columns">
							<img src='images/smartcart/002.png'>
						</div>
					</div>
					<figcaption>Our team mocked up the home screen in parallel. Our approaches varied, but they all emphasized the grocery store map, grocery list, and total amount. We took some of the best elements in subsequent iterations.
					</figcaption>
				</figure>

				<div class="medium-8 medium-centered columns">

					<p>One of the questions we attempted to answer with our prototype was "what fidelity do people search for their groceries?" Some items had strong brand associations. For window cleaner, half the participants started typing "windex," but the Minute Maid Orange Juice was generalized to orange juice. In our redesign, we resolved ambiguous items so users could search either "chips" or "Doritos" using autocomplete. </p>

					<blockquote>
					Items had different associations. Some, like Windex, had strong brand attachment. Others were just generically orange juice.</blockquote>

					<p>Our user testing also found that directions like "Aisle 5" were not entirely helpful. Upon arriving in the aisle, people would slow down dramatically and scan the rows in many directions. They might ask an employee again, and they would respond "check the middle of the aisle." We used this as a guiding point in providing more relevant directions. </p>
				</div>

				<figure class="large-12 columns">
					<div class="row">
						<img src='images/smartcart/screen.png' alt='Interface for showing directions and shopping list'>
					</div>
				</figure>

				<div class="medium-8 medium-centered columns">

					<h3>Cart Mount</h3>

					<p>We started with paper prototypes and a laundry hamper as a makeshift shopping cart. In our user testing, if we weren't holding onto the tablet, participants continually moved their eye gaze up and down, and found it very difficult to use. </p>
				</div>

				<figure class="large-12 columns">
					<div class="row">
						<div class="small-6 columns">
						<img src='images/smartcart/papercart1.jpg' alt='Using paper to model a shopping cart and tablet'>
					</div>
					<div class="small-6 columns">
						<img src='images/smartcart/woz2.jpg' alt='Using a laundry hamper as a makeshift shopping cart'>
					</div>
						
					</div>
					<figcaption>We created a paper version of a cart and the tablet screen, but quickly moved to using a tablet and a laundry hamper as a makeshift shopping cart, to better understand what the experience would be like. </figcaption>
				</figure>

				<div class="medium-8 medium-centered columns">

					<p>We asked people of various heights (from 5ft to 6.5ft) to test comfortable viewing angles while standing. Next, we designed a hardware enclosure out of plexiglass to ease use and accessibility of the touchscreen. We laser cut and assembled the enclosure and added it to the cart.
					</p>
				</div>
				<figure class="large-12 columns">
					<div class="row">
						<div class="small-4 columns">
							<img src='images/smartcart/mount1.jpg' alt='Hardware enclosure for tablet, version 1'>
						</div>
						<div class="small-4 columns">
							<img src='images/smartcart/mount2.jpg' alt='Hardware enclosure for tablet, version 2'>
						</div>
						<div class="small-4 columns">
							<img src='images/smartcart/mount3.jpg' alt='Hardware enclosure for tablet, version 2'>
						</div>
					</div>
					<figcaption>To make our SmartCart tablet and app feel more integrated with the shopping cart, we laser cut a hardware enclosure. Above, we show testing viewing angles and, two different versions of the mount.</figcaption>
				</figure>

				<div class="medium-8 medium-centered columns">

					<h3>Checkout</h3>

					<p>Since all the items would be scanned and placed into the cart, we prototyped an Uber-like silent confirmation. You could simply leave the store with your cart – your credit card was charged, and everything would be complete. However, we were met by a lot of confusion by participants. Most surprising was that every single person expressed some sort of fear. </p>


					<blockquote>
					    People were afraid of being perceived as stealing things.
					</blockquote>

					<p>Causes of the fear ranged from buying by accident, not paying for the right items, or the fear of being perceived as stealing something. Such a behavioral change was unnatural, and SmartCart should ease users through the journey. In our redesign, we added explicit directions to an exit area of the store, and acted out a receipt verification employee to check whether people's shopping carts matched their transactions.</p>

					<h3>User Testing Methodology</h3>

					<p>Prior to user testing, we added a handful of items to our item database and hard-coded their approximate locations in the Menlo Park Safeway. We created a map that was similar to the Safeway. To simulate Wi-Fi localization, we set up a second tablet to control the cart's map position via Bluetooth. Following a general script for everyone, we asked participants to scan a list containing three predetermined items (window cleaner, almond milk, and orange juice), then halfway through the test, asked them to pick up something they had forgotten (croutons). In our debrief, we asked about usability issues and whether the system would be intimidating to use.</p>

				</div>
				<figure class="large-12 columns">
					<img src="images/smartcart/userTesting.png" />
					<figcaption></figcaption>
				</figure>
				
			</section>

			<section id="takeaways">
				<div class="medium-8 medium-centered columns">
				<h1>Key Takeaways</h1>
				<h4>Reach people where they are</h4>
				<p>Our prototype tried to eliminate the need to checkout by automatically charging credit cards. Some people might readily welcome changes like completely doing away with checkout, but others felt as if they were stealing things. Many iterations tried to ease people into the process – guidance to the exit, confirmation of payment and correct groceries. Reach people where they are with technology, don't coerce them into solutions. </p>

				<h4>Incorporate all stakeholders</h4>
				<p>Our prototype was a first attempt at meeting the needs of shoppers. However, interviews with store employees and managers revealed different needs – stocking inventory and preventing fraud. One story recalled how some underage teenagers scanned a sack of potatoes but then slipped through the self-checkout with a 6-pack of beer. These are critical concerns to address before understanding the value of SmartCart as a platform.</p>

				</div>
			</section>
		</div>
	</div>

<% include templates/footer %>
<% include templates/scripts %>
<script>

$(document).ready(function(){


	$("#barcode-scanning > div:gt(0)").hide();

	setInterval(function() { 
	  $('#barcode-scanning > div:first')
	    .fadeOut(1000)
	    .next()
	    .fadeIn(1000)
	    .end()
	    .appendTo('#barcode-scanning');
	},  3000);

	$('ul.gif-menu a').click(function() {
		var link = this;
		$('.gif-list div').hide();

		var videoId = '#video-' + link.id;
		var vid = $('.gif-list').find(videoId).first();
		vid.show();

	});

});

</script>
</body>
</html>