<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<% if (title) { %>
<title><%- title %></title>
<% } %>

<meta property="og:title" content="Elaine Zhou" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://elainezhou.me" />
<meta property="og:description" content="I'm Elaine, a student pursuing a masters in Computer Science concentrating in Human-Computer Interaction. I'm fascinated by how modern products, technologies, and creative processes affect people, and vice versa." />

<link rel='icon' type='image/png' href='favicon.png'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css' type='text/css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css' type='text/css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='stylesheets/style.css' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400italic,700|Fira+Sans:300|Abel' rel='stylesheet' type='text/css'>
</head>