/* 
 * Elaine Zhou, 2016
 * =============================
 */
/* GLOBAL */
@import url("http://fonts.googleapis.com/css?family=Playfair+Display:400italic,700");
@import url("http://fonts.googleapis.com/css?family=Fira+Sans:300");
@import url("http://fonts.googleapis.com/css?family=Abel");
/* line 12, ../sass/base.scss */
* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

/* line 17, ../sass/base.scss */
html,
body {
  color: #3D3D3D;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* line 24, ../sass/base.scss */
*::-moz-selection {
  background: #3D3D3D;
  color: white;
  text-shadow: none;
}

/* TYPOGRAPHY */
/* line 35, ../sass/base.scss */
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2.5em;
  text-rendering: geometricPrecision;
}

/* line 42, ../sass/base.scss */
h3 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  line-height: 1.8;
}

/* line 51, ../sass/base.scss */
p {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  line-height: 1.8;
  font-weight: 300;
  color: #696969;
}

/* line 59, ../sass/base.scss */
a, a:visited {
  color: #aaa;
  transition: color .5s;
  -webkit-transition: color .5s;
  -webkit-transition: border-bottom .5s;
  -moz-transition: border-bottom .5s;
  -ms-transition: border-bottom .5s;
  -o-transition: border-bottom .5s;
  transition: border-bottom .5s;
}

/* line 71, ../sass/base.scss */
blockquote {
  border-left: 0;
  width: 66.7%;
  color: #aaa;
  font-family: 'Playfair Display';
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 2.75rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 86, ../sass/base.scss */
blockquote footer {
  text-align: right;
  font-size: .85rem;
  color: #aaa;
  margin: 0;
}
/* line 93, ../sass/base.scss */
blockquote p {
  display: inline;
}

/* LAYOUT */
/* line 101, ../sass/base.scss */
footer {
  margin-bottom: 30px;
}
/* line 103, ../sass/base.scss */
footer p {
  margin-top: 30px;
}

/* UTILITIES */
/* line 110, ../sass/base.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ELEMENTS */
/* line 117, ../sass/base.scss */
.back {
  margin-top: 30px;
}
/* line 119, ../sass/base.scss */
.back a:hover {
  opacity: 0.6;
}
/* line 123, ../sass/base.scss */
.back img {
  width: 35px;
}

/* line 128, ../sass/base.scss */
ul.inline-list {
  list-style-type: none;
  margin-left: 0px;
  padding-top: 0.5rem;
}
/* line 133, ../sass/base.scss */
ul.inline-list li {
  display: inline-block;
  margin: 0 20px;
}
/* line 137, ../sass/base.scss */
ul.inline-list li:first-of-type {
  margin-left: 1px;
}
