/* line 6, ../sass/case.scss */
.back {
  display: inline-block;
  padding: 10px 15px;
  top: 0px;
  z-index: 1;
  margin-top: 30px;
}
/* line 13, ../sass/case.scss */
.back a:hover {
  opacity: 0.6;
}
/* line 17, ../sass/case.scss */
.back img {
  width: 35px;
}

@media (min-width: 640px) {
  /* line 23, ../sass/case.scss */
  .fix-top {
    margin-top: 0px;
    position: fixed;
  }

  /* line 28, ../sass/case.scss */
  .fix-top + .intro-text {
    margin-top: 22em;
  }
}
/* line 33, ../sass/case.scss */
.intro-text {
  margin-top: 16em;
}

/* line 38, ../sass/case.scss */
.video-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 45px;
  max-width: 940px;
}

/* line 50, ../sass/case.scss */
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 63, ../sass/case.scss */
.error-page h4,
.case-content h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #666;
}
/* line 70, ../sass/case.scss */
.error-page h4,
.case-content h4 {
  font-size: 1.35rem;
  margin-top: 1.35rem;
}
/* line 75, ../sass/case.scss */
.error-page figure + h4,
.case-content figure + h4 {
  margin-top: 70px;
}
/* line 79, ../sass/case.scss */
.error-page a,
.case-content a {
  display: inline-block;
  position: relative;
  padding-bottom: -1px;
  font-weight: 300;
}
/* line 86, ../sass/case.scss */
.error-page a, .error-page a:visited,
.case-content a,
.case-content a:visited {
  color: #3D3D3D;
}
/* line 90, ../sass/case.scss */
.error-page a:hover,
.case-content a:hover {
  color: #aaa;
}
/* line 94, ../sass/case.scss */
.error-page a:not(.no-effect):before,
.case-content a:not(.no-effect):before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  transition: width 0s ease;
}
/* line 104, ../sass/case.scss */
.error-page a:not(.no-effect):after,
.case-content a:not(.no-effect):after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  transition: width .5s ease;
}
/* line 115, ../sass/case.scss */
.error-page a:hover:before,
.case-content a:hover:before {
  width: 0%;
  background: #ccc;
  transition: width .5s ease;
}
/* line 120, ../sass/case.scss */
.error-page a:hover:after,
.case-content a:hover:after {
  width: 0%;
  background: transparent;
  transition: width 0s ease;
}
/* line 126, ../sass/case.scss */
.error-page figure,
.case-content figure {
  max-width: 940px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 134, ../sass/case.scss */
.error-page figure a,
.case-content figure a {
  display: inline;
}
/* line 138, ../sass/case.scss */
.error-page figure img,
.case-content figure img {
  margin-bottom: 0.5em;
}
/* line 142, ../sass/case.scss */
.error-page figure video,
.case-content figure video {
  width: 100%;
  height: auto;
}
/* line 147, ../sass/case.scss */
.error-page figure figcaption,
.case-content figure figcaption {
  width: inherit;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  color: #696969;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 300;
}
/* line 159, ../sass/case.scss */
.error-page section,
.case-content section {
  margin-top: 6em;
}
/* line 163, ../sass/case.scss */
.error-page section:first-of-type,
.case-content section:first-of-type {
  margin-top: 1.6em;
}
/* line 167, ../sass/case.scss */
.error-page ul:not(.inline-list),
.case-content ul:not(.inline-list) {
  color: #696969;
  line-height: 2;
  margin-left: 100px;
}
/* line 173, ../sass/case.scss */
.error-page ul.no-bullet,
.case-content ul.no-bullet {
  list-style-type: none;
  margin-left: 0px;
  padding-top: 0.5rem;
}

/* line 181, ../sass/case.scss */
.slideshow {
  height: 500px;
  width: 640px;
  background-color: white;
}

/* line 187, ../sass/case.scss */
.slideshow > div {
  position: absolute;
}
/* line 191, ../sass/case.scss */
.slideshow > div img {
  width: 640px;
}

@media (max-width: 800px) {
  /* line 197, ../sass/case.scss */
  .slideshow {
    width: 640px;
    height: auto;
  }

  /* line 201, ../sass/case.scss */
  .slideshow > div img {
    width: 100%;
    height: auto;
  }
}
/* line 207, ../sass/case.scss */
.gif-list div:not(:first-child) {
  display: none;
}

/* line 213, ../sass/case.scss */
#dconstraints-case .slideshow {
  height: 320px;
  width: auto;
}
@media (max-width: 800px) {
  /* line 220, ../sass/case.scss */
  #dconstraints-case .slideshow {
    height: 200px;
  }
  /* line 223, ../sass/case.scss */
  #dconstraints-case .slideshow > div img {
    height: 200px;
  }
}

/* line 231, ../sass/case.scss */
#discoveroute-case .slideshow {
  height: 450px;
}
@media (max-width: 800px) {
  /* line 236, ../sass/case.scss */
  #discoveroute-case .slideshow {
    width: auto;
    min-height: 200px;
  }
  /* line 240, ../sass/case.scss */
  #discoveroute-case .slideshow > div img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 380px) and (max-width: 640px) {
  /* line 230, ../sass/case.scss */
  #discoveroute-case {
    height: 200px;
  }
}

/* line 254, ../sass/case.scss */
.intro {
  text-align: left;
  padding-left: 15px;
}
/* line 258, ../sass/case.scss */
.intro h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  margin-bottom: 8px;
  color: white;
  text-rendering: geometricPrecision;
}
/* line 267, ../sass/case.scss */
.intro h2 {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  color: #f4f4f4;
}
/* line 273, ../sass/case.scss */
.intro h3 {
  font-size: 1rem;
  margin-right: -8px;
  color: #f4f4f4;
}

@media (max-width: 640px) {
  /* line 282, ../sass/case.scss */
  .back {
    width: 30px;
  }

  /* line 287, ../sass/case.scss */
  .intro h1 {
    font-size: 2em;
  }
  /* line 290, ../sass/case.scss */
  .intro h2 {
    font-size: 1.25em;
  }
  /* line 293, ../sass/case.scss */
  .intro h3 {
    font-size: 0.8em;
  }
}
/* PAGE-SPECIFIC */
/* line 301, ../sass/case.scss */
#smartcart .back {
  background-color: #2565AA;
}

/* line 305, ../sass/case.scss */
#discoveroute .back {
  background-color: #FFA215;
}

/* line 309, ../sass/case.scss */
#etc .back {
  background-color: #7B041C;
}

/* line 313, ../sass/case.scss */
#sixdegree .back {
  background-color: #010425;
}

/* line 317, ../sass/case.scss */
#dais .back {
  background-color: #007E7F;
}

/* line 321, ../sass/case.scss */
#dconstraints .back {
  background-color: #184E11;
}

/* line 327, ../sass/case.scss */
.hero {
  background-repeat: no-repeat;
  height: 36em;
  margin-bottom: 1em;
}

/* line 334, ../sass/case.scss */
.hero#smartcart {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/smartcart3.png");
  background-position: 80% 0%;
  background-size: cover, auto 26em;
  background-color: #2565AA;
}

/* line 342, ../sass/case.scss */
.hero#discoveroute {
  background-image: linear-gradient(to bottom, transparent 10%, rgba(255, 130, 5, 0.3) 50%), url("../images/discoveroute3.png");
  background-position: 80% 25%;
  background-size: cover, auto 28em;
  background-color: #FFA215;
}

/* line 351, ../sass/case.scss */
.hero#dais {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.1) 80%), url("../images/dais.png");
  background-position: 80% 40%;
  background-size: cover, auto 20em;
  background-color: #007E7F;
}

/* line 359, ../sass/case.scss */
.hero#dconstraints {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/dconstraints.png");
  background-position: 80% 40%;
  background-size: cover, auto 15em;
  background-color: #184E11;
}

/* line 367, ../sass/case.scss */
.hero#sixdegree {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/sixdegree.png");
  background-position: 80% 40%;
  background-size: cover, auto 22em;
  background-color: #010425;
}

/* line 375, ../sass/case.scss */
.hero#etc {
  background-image: linear-gradient(to bottom, transparent 10%, rgba(255, 250, 255, 0.1) 90%), url("../images/etc.png");
  background-position: 80% 40%;
  background-size: cover, auto 20em;
  background-color: #7B041C;
}

@media (max-width: 640px) {
  /* line 385, ../sass/case.scss */
  .hero#discoveroute,
  .hero#smartcart {
    background-size: cover, 90% auto;
    background-position: 10% 100px;
  }

  /* line 391, ../sass/case.scss */
  .hero#etc,
  .hero#sixdegree,
  .hero#dconstraints,
  .hero#dais {
    background-size: cover, 90% auto;
    background-position: 50% 130px;
  }
}
