/* HOMEPAGE */
/* line 6, ../sass/home.scss */
#landing h4, h5 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
}

/* line 13, ../sass/home.scss */
#work .tiles .tile:hover,
#projects .tiles .tile:hover {
  cursor: pointer;
}

/* line 18, ../sass/home.scss */
.tiles {
  list-style: none;
  margin-left: 0px;
}

/* line 23, ../sass/home.scss */
.tile-row:nth-child(2n+1) .major {
  float: right;
}

/* line 27, ../sass/home.scss */
#projects .tile-row .minor:last-of-type {
  margin-top: 1em;
}

@media only screen and (min-width: 800px) {
  /* line 32, ../sass/home.scss */
  .tile {
    -webkit-transition: width 0.8s, height 0.8s;
    transition: width 0.8s, height 0.8s;
  }
}
/* line 37, ../sass/home.scss */
.minor .tile {
  font-size: 80%;
  height: 23em;
}
/* line 40, ../sass/home.scss */
.minor .tile .tile-img {
  height: 100%;
}

/* line 45, ../sass/home.scss */
.major .tile {
  height: 40em;
}
/* line 47, ../sass/home.scss */
.major .tile .tile-img {
  height: 100%;
}

/* line 52, ../sass/home.scss */
.tile {
  margin: 1rem 0;
}

/* line 56, ../sass/home.scss */
.tile-img {
  height: auto;
}

/* line 61, ../sass/home.scss */
.tile-img-light {
  background-color: white;
  margin: 1em 0 1.7em;
}

/* line 67, ../sass/home.scss */
.title-underline {
  margin-bottom: 1em;
  border-bottom: 3px solid #ddd;
  display: inline-block;
  padding-bottom: 0.5em;
}

/* line 74, ../sass/home.scss */
.tile-text {
  padding: 1.75em 2.2em 2em;
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  margin-right: 15px;
}
/* line 84, ../sass/home.scss */
.tile-text p {
  margin-bottom: 0;
}

/* Responsive stuff */
@media only screen and (max-width: 640px) {
  /* line 91, ../sass/home.scss */
  .minor .tile {
    height: 25em;
  }

  /* line 95, ../sass/home.scss */
  .major .tile {
    height: 30em;
    margin: 1.5em 0 2.5em;
  }
  /* line 98, ../sass/home.scss */
  .major .tile p {
    font-size: 1em;
  }

  /* line 103, ../sass/home.scss */
  .minor:first-of-type .tile:first-of-type {
    margin-top: -30px;
  }
}
/* project specifics */
/* line 110, ../sass/home.scss */
.major.tile-img .inner {
  height: 70%;
}

/* line 114, ../sass/home.scss */
.tile-img .inner {
  height: 52%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10% 15%;
}

/* line 122, ../sass/home.scss */
.tile-img {
  position: relative;
  overflow: hidden;
}

/* line 127, ../sass/home.scss */
.tile-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .7s ease;
  -moz-transition: opacity .7s ease;
}

/* line 139, ../sass/home.scss */
#projects .tile:hover .tile-img:after {
  opacity: .7;
}

/* line 143, ../sass/home.scss */
.tile-img:hover:after {
  opacity: .7;
}

/* line 147, ../sass/home.scss */
.tile-img:after {
  background-color: red;
}

/* line 151, ../sass/home.scss */
#landing section:not(:first-of-type),
#landing footer {
  margin-top: 60px;
}

/* line 156, ../sass/home.scss */
#home {
  margin-top: 10em;
  margin-bottom: 7em;
}

@media only screen and (max-width: 640px) {
  /* line 163, ../sass/home.scss */
  #home {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
/* homepage project specific  */
/* line 173, ../sass/home.scss */
#smartcart .tile-img:after,
#smartcart .tile-img {
  background-color: #2565AA;
}

/* line 178, ../sass/home.scss */
#research .tile-img:after,
#research .tile-img {
  background-color: #184E11;
}

/* line 183, ../sass/home.scss */
#discoveroute .tile-img:after,
#discoveroute .tile-img {
  background-color: #FFA215;
}

/* line 188, ../sass/home.scss */
#remind .tile-img:after,
#remind .tile-img {
  background-color: #4a89dc;
}

/* line 193, ../sass/home.scss */
#remind .tile-img {
  padding: 0% 22%;
}

/* line 197, ../sass/home.scss */
#frog .tile-img:after,
#frog .tile-img {
  background-color: #46bc01;
}

/* line 202, ../sass/home.scss */
#frog .tile-img {
  padding: 0% 25%;
}

/* line 207, ../sass/home.scss */
#uber .tile-img:after,
#uber .tile-img {
  background-color: #000;
}

/* line 212, ../sass/home.scss */
#uber .tile-img {
  padding: 0 15%;
}

/* line 216, ../sass/home.scss */
#dais .tile-img:after,
#dais .tile-img {
  background-color: #007E7F;
}

/* line 221, ../sass/home.scss */
#sixdegree .tile-img:after,
#sixdegree .tile-img {
  background-color: #010425;
}

/* line 226, ../sass/home.scss */
#sixdegree .tile-img {
  padding: 0 18%;
}

/* line 230, ../sass/home.scss */
#etc .tile-img:after,
#etc .tile-img {
  background-color: #7B041C;
}

/* line 235, ../sass/home.scss */
#etc .tile-img {
  padding: 0% 12%;
}

/* line 239, ../sass/home.scss */
#frog .tile-img:hover,
#frog .tile-text:hover,
#remind .tile-img:hover,
#remind .tile-text:hover,
#uber .tile-img:hover,
#uber .tile-text:hover {
  cursor: not-allowed;
}

@media (min-width: 800px) and (max-width: 1024px) {
  /* line 250, ../sass/home.scss */
  #etc .tile-img,
  #sixdegree .tile-img {
    padding: 0 20%;
  }

  /* line 254, ../sass/home.scss */
  #dconstraints .tile-img,
  #dais .tile-img {
    padding: 0 8%;
  }
}
/* line 269, ../sass/home.scss */
li a:hover {
  color: #aaa;
}

/* line 273, ../sass/home.scss */
i.fa:hover {
  transition: color .7s;
  -webkit-transition: color .7s;
}

/* line 278, ../sass/home.scss */
.fa-twitter:hover {
  color: #00aced;
}

/* line 282, ../sass/home.scss */
.fa-facebook:hover {
  color: #3b5998;
}

/* line 286, ../sass/home.scss */
.fa-linkedin:hover {
  color: #007bb6;
}

/* line 289, ../sass/home.scss */
.fa-instagram:hover {
  color: #517fa4;
}

/* line 293, ../sass/home.scss */
.fa-github:hover {
  color: #000;
}

/* line 297, ../sass/home.scss */
.fa-codepen:hover {
  color: #191919;
}

/* line 301, ../sass/home.scss */
.fa-send:hover {
  color: #00C9D0;
}
