/* HOMEPAGE */
/* line 6, ../sass/home.scss */
#landing h4, h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  display: inline-block;
  font-size: 1.6em;
}

/* line 13, ../sass/home.scss */
#landing h6 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  line-height: 1;
}

/* line 21, ../sass/home.scss */
#landing h6 + p {
  display: inline;
  line-height: 1.825;
}

/* line 26, ../sass/home.scss */
.about {
  margin-bottom: 2em;
}

/* line 30, ../sass/home.scss */
#work .tiles .tile:hover,
#projects .tiles .tile:hover {
  cursor: pointer;
}

/* line 35, ../sass/home.scss */
.tiles {
  list-style: none;
  margin-left: 0px;
}

/* line 40, ../sass/home.scss */
.tile-row:nth-child(2n+1) .major {
  float: right;
}

@media only screen and (min-width: 800px) {
  /* line 46, ../sass/home.scss */
  .tile {
    -webkit-transition: width 0.8s, height 0.8s;
    transition: width 0.8s, height 0.8s;
  }

  /* line 51, ../sass/home.scss */
  .tile-row:first-of-type {
    margin-bottom: 2em;
  }

  /* line 55, ../sass/home.scss */
  #projects .tile-row .minor:last-of-type {
    margin-top: 2.5em;
  }
}
/* line 60, ../sass/home.scss */
.minor .tile {
  font-size: 80%;
  height: 23em;
}
/* line 63, ../sass/home.scss */
.minor .tile .tile-img {
  height: 53%;
}

/* line 68, ../sass/home.scss */
.major .tile {
  height: 40em;
}
/* line 70, ../sass/home.scss */
.major .tile .tile-img {
  height: 71%;
}

/* line 75, ../sass/home.scss */
.tile {
  box-shadow: 0 1px 2px rgba(25, 25, 25, 0.15);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
}

/* line 80, ../sass/home.scss */
.tile::after {
  box-shadow: 0 5px 15px rgba(25, 25, 25, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* line 86, ../sass/home.scss */
.tile:hover {
  transform: scale(1.02, 1.02);
}
/* line 89, ../sass/home.scss */
.tile:hover .tile-text {
  width: 100%;
}

/* line 94, ../sass/home.scss */
.tile:hover::after {
  opacity: 1;
}

/* line 99, ../sass/home.scss */
.tile-img {
  height: auto;
}

/* line 104, ../sass/home.scss */
.tile-img-light {
  background-color: white;
  margin: 1em 0 1.7em;
}

/* line 110, ../sass/home.scss */
.title-underline {
  margin-bottom: 0.7em;
  border-bottom: 3px solid #ddd;
  display: inline-block;
  padding-bottom: 0.5em;
}

/* line 117, ../sass/home.scss */
.tile-text {
  padding: 1.5em 2.2em 1.7em;
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: white;
  bottom: 0px;
  position: static;
}
/* line 125, ../sass/home.scss */
.tile-text p {
  margin-bottom: 0;
}

/* Responsive stuff */
@media only screen and (max-width: 800px) {
  /* line 132, ../sass/home.scss */
  .minor .tile {
    height: 20em;
  }

  /* line 136, ../sass/home.scss */
  .major .tile {
    height: 30em;
    margin: 3em 0 3em;
  }
  /* line 139, ../sass/home.scss */
  .major .tile p {
    font-size: 1em;
  }

  /* line 144, ../sass/home.scss */
  .tile {
    margin-top: 4em;
  }
}
/* project specifics */
/* line 153, ../sass/home.scss */
.tile-img .inner {
  height: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10% 15%;
}

/* line 161, ../sass/home.scss */
.tile-img {
  position: relative;
  overflow: hidden;
}

/* line 166, ../sass/home.scss */
.tile-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .7s ease;
  -moz-transition: opacity .7s ease;
}

/* line 186, ../sass/home.scss */
.tile-img:after {
  background-color: red;
}

/* line 190, ../sass/home.scss */
#landing section:not(:first-of-type),
#landing footer {
  margin-top: 60px;
}

/* line 195, ../sass/home.scss */
#home {
  margin-top: 8em;
  margin-bottom: 5em;
}

@media only screen and (max-width: 640px) {
  /* line 201, ../sass/home.scss */
  #home {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
/* homepage project specific  */
/* line 211, ../sass/home.scss */
#smartcart .tile-img:after,
#smartcart .tile-img {
  background-color: #2565AA;
}

/* line 216, ../sass/home.scss */
#research .tile-img:after,
#research .tile-img {
  background-color: #184E11;
}

/* line 221, ../sass/home.scss */
#emoshkas .tile-img:after,
#emoshkas .tile-img {
  background-color: #6B0F5D;
}

/* line 226, ../sass/home.scss */
#discoveroute .tile-img:after,
#discoveroute .tile-img {
  background-color: #FFA215;
}

/* line 231, ../sass/home.scss */
#remind .tile-img:after,
#remind .tile-img {
  background-color: #4a89dc;
}

/* line 236, ../sass/home.scss */
#remind .tile-img {
  padding: 0% 22%;
}

/* line 240, ../sass/home.scss */
#frog .tile-img:after,
#frog .tile-img {
  background-color: #46bc01;
}

/* line 245, ../sass/home.scss */
#frog .tile-img {
  padding: 0% 25%;
}

/* line 250, ../sass/home.scss */
#uber .tile-img:after,
#uber .tile-img {
  background-color: #000;
}

/* line 255, ../sass/home.scss */
#uber .tile-img {
  padding: 0 15%;
}

/* line 259, ../sass/home.scss */
#dais .tile-img:after,
#dais .tile-img {
  background-color: #007E7F;
}

/* line 264, ../sass/home.scss */
#sixdegree .tile-img:after,
#sixdegree .tile-img {
  background-color: #010425;
}

/* line 269, ../sass/home.scss */
#sixdegree .tile-img {
  padding: 0 18%;
}

/* line 273, ../sass/home.scss */
#etc .tile-img:after,
#etc .tile-img {
  background-color: #7B041C;
}

/* line 278, ../sass/home.scss */
#etc .tile-img {
  padding: 0% 12%;
}

/* line 282, ../sass/home.scss */
#frog .tile-img:hover,
#frog .tile-text:hover,
#remind .tile-img:hover,
#remind .tile-text:hover,
#uber .tile-img:hover,
#uber .tile-text:hover {
  cursor: not-allowed;
}

@media (min-width: 800px) and (max-width: 1024px) {
  /* line 293, ../sass/home.scss */
  #etc .tile-img,
  #sixdegree .tile-img {
    padding: 0 20%;
  }

  /* line 297, ../sass/home.scss */
  #dconstraints .tile-img,
  #dais .tile-img {
    padding: 0 8%;
  }
}
/* line 312, ../sass/home.scss */
.about a {
  display: inline-block;
  position: relative;
  font-weight: 300;
  color: #3D3D3D;
}
/* line 66, ../sass/variables.scss */
.about a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  transition: width 0s ease;
}
/* line 76, ../sass/variables.scss */
.about a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  transition: width .5s ease;
}
/* line 320, ../sass/home.scss */
.about a:hover {
  color: #aaa;
}
/* line 324, ../sass/home.scss */
.about a:hover:before {
  width: 0%;
  background: #ccc;
  transition: width .5s ease;
}
/* line 329, ../sass/home.scss */
.about a:hover:after {
  width: 0%;
  background: transparent;
  transition: width 0s ease;
}

/* line 337, ../sass/home.scss */
li a:hover {
  color: #aaa;
}

/* line 341, ../sass/home.scss */
i.fa:hover {
  transition: color .7s;
  -webkit-transition: color .7s;
}

/* line 346, ../sass/home.scss */
.fa-twitter:hover {
  color: #00aced;
}

/* line 350, ../sass/home.scss */
.fa-facebook:hover {
  color: #3b5998;
}

/* line 354, ../sass/home.scss */
.fa-linkedin:hover {
  color: #007bb6;
}

/* line 357, ../sass/home.scss */
.fa-instagram:hover {
  color: #517fa4;
}

/* line 361, ../sass/home.scss */
.fa-github:hover {
  color: #000;
}

/* line 365, ../sass/home.scss */
.fa-codepen:hover {
  color: #191919;
}

/* line 369, ../sass/home.scss */
.fa-send:hover {
  color: #00C9D0;
}
