/* HOMEPAGE */
/* line 6, ../sass/home.scss */
#landing h4, h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  display: inline-block;
  font-size: 1.6em;
}

/* line 13, ../sass/home.scss */
#work .tiles .tile:hover,
#projects .tiles .tile:hover {
  cursor: pointer;
}

/* line 18, ../sass/home.scss */
.tiles {
  list-style: none;
  margin-left: 0px;
}

/* line 23, ../sass/home.scss */
.tile-row:nth-child(2n+1) .major {
  float: right;
}

/* line 27, ../sass/home.scss */
.tile-row:first-of-type {
  margin-bottom: 1em;
}

/* line 31, ../sass/home.scss */
#projects .tile-row .minor:last-of-type {
  margin-top: 1.2em;
}

@media only screen and (min-width: 800px) {
  /* line 36, ../sass/home.scss */
  .tile {
    -webkit-transition: width 0.8s, height 0.8s;
    transition: width 0.8s, height 0.8s;
  }
}
/* line 41, ../sass/home.scss */
.minor .tile {
  font-size: 80%;
  height: 23em;
}
/* line 44, ../sass/home.scss */
.minor .tile .tile-img {
  height: 100%;
}

/* line 49, ../sass/home.scss */
#work .minor .tile {
  height: 27em;
}

/* line 53, ../sass/home.scss */
.major .tile {
  height: 40em;
}
/* line 55, ../sass/home.scss */
.major .tile .tile-img {
  height: 100%;
}

/* line 60, ../sass/home.scss */
.tile {
  margin: 1rem 0;
}

/* line 64, ../sass/home.scss */
.tile-img {
  height: auto;
}

/* line 69, ../sass/home.scss */
.tile-img-light {
  background-color: white;
  margin: 1em 0 1.7em;
}

/* line 75, ../sass/home.scss */
.title-underline {
  margin-bottom: 0.7em;
  border-bottom: 3px solid #ddd;
  display: inline-block;
  padding-bottom: 0.5em;
}

/* line 82, ../sass/home.scss */
.tile-text {
  padding: 1.5em 2.2em 1.7em;
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  margin-right: 15px;
}
/* line 92, ../sass/home.scss */
.tile-text p {
  margin-bottom: 0;
}

/* Responsive stuff */
@media only screen and (max-width: 640px) {
  /* line 99, ../sass/home.scss */
  .minor .tile {
    height: 25em;
  }

  /* line 103, ../sass/home.scss */
  .major .tile {
    height: 30em;
    margin: 1.5em 0 2.5em;
  }
  /* line 106, ../sass/home.scss */
  .major .tile p {
    font-size: 1em;
  }

  /* line 111, ../sass/home.scss */
  .minor:first-of-type .tile:first-of-type {
    margin-top: -30px;
  }
}
/* project specifics */
/* line 118, ../sass/home.scss */
.major .tile-img .inner {
  height: 70%;
}

/* line 122, ../sass/home.scss */
.tile-img .inner {
  height: 52%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10% 15%;
}

/* line 130, ../sass/home.scss */
.tile-img {
  position: relative;
  overflow: hidden;
}

/* line 135, ../sass/home.scss */
.tile-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .7s ease;
  -moz-transition: opacity .7s ease;
}

/* line 147, ../sass/home.scss */
#projects .tile:hover .tile-img:after {
  opacity: .7;
}

/* line 151, ../sass/home.scss */
.tile-img:hover:after {
  opacity: .7;
}

/* line 155, ../sass/home.scss */
.tile-img:after {
  background-color: red;
}

/* line 159, ../sass/home.scss */
#landing section:not(:first-of-type),
#landing footer {
  margin-top: 60px;
}

/* line 164, ../sass/home.scss */
#home {
  margin-top: 8em;
  margin-bottom: 5em;
}

@media only screen and (max-width: 640px) {
  /* line 170, ../sass/home.scss */
  #home {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
/* homepage project specific  */
/* line 180, ../sass/home.scss */
#smartcart .tile-img:after,
#smartcart .tile-img {
  background-color: #2565AA;
}

/* line 185, ../sass/home.scss */
#research .tile-img:after,
#research .tile-img {
  background-color: #184E11;
}

/* line 190, ../sass/home.scss */
#emoshkas .tile-img:after,
#emoshkas .tile-img {
  background-color: #6B0F5D;
}

/* line 195, ../sass/home.scss */
#discoveroute .tile-img:after,
#discoveroute .tile-img {
  background-color: #FFA215;
}

/* line 200, ../sass/home.scss */
#remind .tile-img:after,
#remind .tile-img {
  background-color: #4a89dc;
}

/* line 205, ../sass/home.scss */
#remind .tile-img {
  padding: 0% 22%;
}

/* line 209, ../sass/home.scss */
#frog .tile-img:after,
#frog .tile-img {
  background-color: #46bc01;
}

/* line 214, ../sass/home.scss */
#frog .tile-img {
  padding: 0% 25%;
}

/* line 219, ../sass/home.scss */
#uber .tile-img:after,
#uber .tile-img {
  background-color: #000;
}

/* line 224, ../sass/home.scss */
#uber .tile-img {
  padding: 0 15%;
}

/* line 228, ../sass/home.scss */
#dais .tile-img:after,
#dais .tile-img {
  background-color: #007E7F;
}

/* line 233, ../sass/home.scss */
#sixdegree .tile-img:after,
#sixdegree .tile-img {
  background-color: #010425;
}

/* line 238, ../sass/home.scss */
#sixdegree .tile-img {
  padding: 0 18%;
}

/* line 242, ../sass/home.scss */
#etc .tile-img:after,
#etc .tile-img {
  background-color: #7B041C;
}

/* line 247, ../sass/home.scss */
#etc .tile-img {
  padding: 0% 12%;
}

/* line 251, ../sass/home.scss */
#frog .tile-img:hover,
#frog .tile-text:hover,
#remind .tile-img:hover,
#remind .tile-text:hover,
#uber .tile-img:hover,
#uber .tile-text:hover {
  cursor: not-allowed;
}

@media (min-width: 800px) and (max-width: 1024px) {
  /* line 262, ../sass/home.scss */
  #etc .tile-img,
  #sixdegree .tile-img {
    padding: 0 20%;
  }

  /* line 266, ../sass/home.scss */
  #dconstraints .tile-img,
  #dais .tile-img {
    padding: 0 8%;
  }
}
/* line 281, ../sass/home.scss */
.about a {
  display: inline-block;
  position: relative;
  font-weight: 300;
  color: #3D3D3D;
}
/* line 66, ../sass/variables.scss */
.about a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  transition: width 0s ease;
}
/* line 76, ../sass/variables.scss */
.about a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  transition: width .5s ease;
}
/* line 290, ../sass/home.scss */
.about a:hover {
  color: #aaa;
}
/* line 294, ../sass/home.scss */
.about a:hover:before {
  width: 0%;
  background: #ccc;
  transition: width .5s ease;
}
/* line 299, ../sass/home.scss */
.about a:hover:after {
  width: 0%;
  background: transparent;
  transition: width 0s ease;
}

/* line 307, ../sass/home.scss */
li a:hover {
  color: #aaa;
}

/* line 311, ../sass/home.scss */
i.fa:hover {
  transition: color .7s;
  -webkit-transition: color .7s;
}

/* line 316, ../sass/home.scss */
.fa-twitter:hover {
  color: #00aced;
}

/* line 320, ../sass/home.scss */
.fa-facebook:hover {
  color: #3b5998;
}

/* line 324, ../sass/home.scss */
.fa-linkedin:hover {
  color: #007bb6;
}

/* line 327, ../sass/home.scss */
.fa-instagram:hover {
  color: #517fa4;
}

/* line 331, ../sass/home.scss */
.fa-github:hover {
  color: #000;
}

/* line 335, ../sass/home.scss */
.fa-codepen:hover {
  color: #191919;
}

/* line 339, ../sass/home.scss */
.fa-send:hover {
  color: #00C9D0;
}
