/* ELEMENTS */
/* line 45, ../sass/style.scss */
body {
  color: #3D3D3D;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* line 52, ../sass/style.scss */
h1, h2 {
  font-family: 'Playfair Display', serif;
}

/* line 56, ../sass/style.scss */
h3 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  line-height: 1.8;
}

/* line 64, ../sass/style.scss */
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-style: italic;
  color: #666;
}

/* line 71, ../sass/style.scss */
p {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  line-height: 1.8;
  color: #696969;
}

/* line 80, ../sass/style.scss */
footer p {
  margin-top: 30px;
}

/* line 85, ../sass/style.scss */
blockquote {
  border-left: 0;
  width: 66.7%;
  color: #aaa;
  font-family: 'Playfair Display';
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 2.75rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 100, ../sass/style.scss */
blockquote footer {
  text-align: right;
  font-size: .85rem;
  color: #aaa;
  margin: 0;
}
/* line 107, ../sass/style.scss */
blockquote p {
  display: inline;
}

/* UTILITIES */
/* line 114, ../sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* GENERAL */
/* line 121, ../sass/style.scss */
.back {
  margin-top: 30px;
}
/* line 123, ../sass/style.scss */
.back a:hover {
  opacity: 0.6;
}
/* line 127, ../sass/style.scss */
.back img {
  width: 35px;
}

/* line 132, ../sass/style.scss */
.video-wrapper {
  position: relative;
  padding-bottom: 40.5%;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 45px;
  max-width: 580px;
}

/* line 143, ../sass/style.scss */
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 153, ../sass/style.scss */
.case-study {
  margin-bottom: 60px;
}

/* line 158, ../sass/style.scss */
.case-content {
  /* TO DO: COME BACK TO THIS */
}
/* line 159, ../sass/style.scss */
.case-content h4 {
  font-size: 1.35rem;
}
/* line 164, ../sass/style.scss */
.case-content a {
  color: #3D3D3D;
  border-bottom: 1px solid #ccc;
}
/* line 169, ../sass/style.scss */
.case-content a:hover {
  color: #696969;
  border-bottom: none;
}
/* line 174, ../sass/style.scss */
.case-content figure {
  max-width: 580px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 182, ../sass/style.scss */
.case-content figure img {
  margin-bottom: 0.5em;
}
/* line 186, ../sass/style.scss */
.case-content figure figcaption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  color: #696969;
  font-size: 0.8em;
  font-style: italic;
  width: 90%;
}
/* line 196, ../sass/style.scss */
.case-content section {
  margin-top: 4em;
}
/* line 200, ../sass/style.scss */
.case-content ul {
  color: #696969;
  line-height: 1.8;
  margin-left: 100px;
}

/* line 208, ../sass/style.scss */
.intro {
  text-align: left;
  padding-left: 15px;
}
/* line 212, ../sass/style.scss */
.intro h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
}
/* line 217, ../sass/style.scss */
.intro h2 {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
}
/* line 223, ../sass/style.scss */
.intro h3 {
  font-size: 16px;
  margin-right: -8px;
}

/* line 229, ../sass/style.scss */
.intro-text {
  margin-top: 18em;
}

/* line 234, ../sass/style.scss */
.slideshow {
  height: 450px;
  background-color: white;
}

/* line 239, ../sass/style.scss */
.slideshow > div {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
/* line 243, ../sass/style.scss */
.slideshow > div img {
  height: 450px;
}

@media (max-width: 750px) {
  /* line 249, ../sass/style.scss */
  .slideshow {
    width: 100%;
    min-height: 250px;
    max-height: 450px;
    height: auto;
  }

  /* line 255, ../sass/style.scss */
  .slideshow > div img {
    width: 100%;
    height: auto;
  }
}
/* PAGE-SPECIFIC */
/* line 263, ../sass/style.scss */
.hero#smartcart {
  background-image: url("../images/smartcart2.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 42em;
}

/* line 271, ../sass/style.scss */
.hero#discoveroute {
  background-image: url("../images/discoveroute.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32em;
  margin-bottom: 5em;
}
