/* 
 * Elaine Zhou, 2016
 * =============================
 */
/* GLOBAL */
/* line 71, ../sass/style.scss */
* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

/* line 76, ../sass/style.scss */
html,
body {
  color: #3D3D3D;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* line 83, ../sass/style.scss */
*::-moz-selection {
  background: #3D3D3D;
  color: white;
  text-shadow: none;
}

/* TYPOGRAPHY */
/* line 92, ../sass/style.scss */
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2.5em;
  text-rendering: geometricPrecision;
}

/* line 99, ../sass/style.scss */
h3 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  line-height: 1.8;
}

/* line 108, ../sass/style.scss */
p {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  line-height: 1.8;
  color: #696969;
}

/* line 115, ../sass/style.scss */
a, a:visited {
  color: #aaa;
  transition: color .5s;
  -webkit-transition: color .5s;
  -webkit-transition: border-bottom .5s;
  -moz-transition: border-bottom .5s;
  -ms-transition: border-bottom .5s;
  -o-transition: border-bottom .5s;
  transition: border-bottom .5s;
}

/* line 127, ../sass/style.scss */
blockquote {
  border-left: 0;
  width: 66.7%;
  color: #aaa;
  font-family: 'Playfair Display';
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 2.75rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 142, ../sass/style.scss */
blockquote footer {
  text-align: right;
  font-size: .85rem;
  color: #aaa;
  margin: 0;
}
/* line 149, ../sass/style.scss */
blockquote p {
  display: inline;
}

/* LAYOUT */
/* line 157, ../sass/style.scss */
footer {
  margin-bottom: 30px;
}
/* line 159, ../sass/style.scss */
footer p {
  margin-top: 30px;
}

/* UTILITIES */
/* line 166, ../sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ELEMENTS */
/* line 173, ../sass/style.scss */
.back {
  margin-top: 30px;
}
/* line 175, ../sass/style.scss */
.back a:hover {
  opacity: 0.6;
}
/* line 179, ../sass/style.scss */
.back img {
  width: 35px;
}

/* line 184, ../sass/style.scss */
.video-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 40.5%;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 45px;
  max-width: 580px;
}

/* line 196, ../sass/style.scss */
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 209, ../sass/style.scss */
.error-page h4,
.case-content h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #666;
}
/* line 216, ../sass/style.scss */
.error-page h4,
.case-content h4 {
  font-size: 1.35rem;
  margin-top: 1.35rem;
}
/* line 221, ../sass/style.scss */
.error-page figure + h4,
.case-content figure + h4 {
  margin-top: 70px;
}
/* line 225, ../sass/style.scss */
.error-page a,
.case-content a {
  display: inline-block;
  position: relative;
  padding-bottom: -1px;
}
/* line 231, ../sass/style.scss */
.error-page a, .error-page a:visited,
.case-content a,
.case-content a:visited {
  color: #3D3D3D;
}
/* line 235, ../sass/style.scss */
.error-page a:hover,
.case-content a:hover {
  color: #aaa;
}
/* line 239, ../sass/style.scss */
.error-page a:before,
.case-content a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  transition: width 0s ease;
}
/* line 249, ../sass/style.scss */
.error-page a:after,
.case-content a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  transition: width .5s ease;
}
/* line 260, ../sass/style.scss */
.error-page a:hover:before,
.case-content a:hover:before {
  width: 0%;
  background: #ccc;
  transition: width .5s ease;
}
/* line 265, ../sass/style.scss */
.error-page a:hover:after,
.case-content a:hover:after {
  width: 0%;
  background: transparent;
  transition: width 0s ease;
}
/* line 271, ../sass/style.scss */
.error-page figure,
.case-content figure {
  max-width: 580px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 279, ../sass/style.scss */
.error-page figure img,
.case-content figure img {
  margin-bottom: 0.5em;
}
/* line 283, ../sass/style.scss */
.error-page figure figcaption,
.case-content figure figcaption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  color: #696969;
  font-size: 0.8em;
  font-style: italic;
  width: 90%;
}
/* line 293, ../sass/style.scss */
.error-page section,
.case-content section {
  margin-top: 4em;
}
/* line 297, ../sass/style.scss */
.error-page section:first-of-type,
.case-content section:first-of-type {
  margin-top: 1.5em;
}
/* line 301, ../sass/style.scss */
.error-page ul,
.case-content ul {
  color: #696969;
  line-height: 2;
  margin-left: 100px;
}
/* line 307, ../sass/style.scss */
.error-page #stats ul,
.case-content #stats ul {
  list-style-type: none;
  margin-left: 0px;
  padding-top: 0.5rem;
}

/* line 317, ../sass/style.scss */
.slideshow {
  height: 450px;
  background-color: white;
}

/* line 322, ../sass/style.scss */
.slideshow > div {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
/* line 326, ../sass/style.scss */
.slideshow > div img {
  height: 450px;
}

@media (max-width: 800px) {
  /* line 332, ../sass/style.scss */
  .slideshow {
    width: 100%;
    min-height: 250px;
    max-height: 450px;
    height: auto;
  }

  /* line 338, ../sass/style.scss */
  .slideshow > div img {
    width: 100%;
    height: auto;
  }
}
/* line 345, ../sass/style.scss */
.intro {
  text-align: left;
  padding-left: 15px;
}
/* line 349, ../sass/style.scss */
.intro h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  margin-bottom: 8px;
  color: white;
  text-rendering: geometricPrecision;
}
/* line 358, ../sass/style.scss */
.intro h2 {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  color: #f4f4f4;
}
/* line 364, ../sass/style.scss */
.intro h3 {
  font-size: 1em;
  margin-right: -8px;
  color: #f4f4f4;
}

/* line 372, ../sass/style.scss */
.intro-text {
  margin-top: 18em;
}

@media (max-width: 640px) {
  /* line 377, ../sass/style.scss */
  .back {
    width: 30px;
  }

  /* line 382, ../sass/style.scss */
  .intro h1 {
    font-size: 2em;
  }
  /* line 385, ../sass/style.scss */
  .intro h2 {
    font-size: 1.25em;
  }
  /* line 388, ../sass/style.scss */
  .intro h3 {
    font-size: 0.8em;
  }
}
/* PAGE-SPECIFIC */
/* line 396, ../sass/style.scss */
.hero {
  background-repeat: no-repeat;
  height: 36em;
  margin-bottom: 1em;
}

/* line 403, ../sass/style.scss */
.hero#smartcart {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/smartcart3.png");
  background-position: 80% 0%;
  background-size: cover, auto 26em;
  background-color: #2565AA;
}

/* line 411, ../sass/style.scss */
.hero#discoveroute {
  background-image: linear-gradient(to bottom, transparent 10%, rgba(255, 130, 5, 0.3) 50%), url("../images/discoveroute3.png");
  background-position: 80% 25%;
  background-size: cover, auto 28em;
  background-color: #FFA215;
}

/* line 420, ../sass/style.scss */
.hero#dais {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.1) 80%), url("../images/dais.png");
  background-position: 80% 40%;
  background-size: cover, auto 20em;
  background-color: #007E7F;
}

/* line 428, ../sass/style.scss */
.hero#dconstraints {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/dconstraints.png");
  background-position: 80% 40%;
  background-size: cover, auto 15em;
  background-color: #184E11;
}

/* line 436, ../sass/style.scss */
.hero#sixdegree {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/sixdegree.png");
  background-position: 80% 40%;
  background-size: cover, auto 22em;
  background-color: #010425;
}

/* line 444, ../sass/style.scss */
.hero#etc {
  background-image: linear-gradient(to bottom, transparent 10%, rgba(255, 250, 255, 0.1) 90%), url("../images/etc.png");
  background-position: 80% 40%;
  background-size: cover, auto 20em;
  background-color: #7B041C;
}

@media (max-width: 640px) {
  /* line 454, ../sass/style.scss */
  .hero#discoveroute,
  .hero#smartcart {
    background-size: cover, 90% auto;
    background-position: 10% 100px;
  }

  /* line 460, ../sass/style.scss */
  .hero#etc,
  .hero#sixdegree,
  .hero#dconstraints,
  .hero#dais {
    background-size: cover, 90% auto;
    background-position: 50% 130px;
  }
}
/* HOMEPAGE */
/* line 475, ../sass/style.scss */
#landing h4, h5 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
}

/* line 482, ../sass/style.scss */
#work .tiles .tile:hover,
#projects .tiles .tile:hover {
  cursor: pointer;
}

/* line 487, ../sass/style.scss */
ul.tiles {
  list-style: none;
  margin-left: 0px;
}

/* line 492, ../sass/style.scss */
.tile-row:nth-child(2n+1) .major {
  float: right;
}

@media only screen and (min-width: 800px) {
  /* line 497, ../sass/style.scss */
  .tile {
    -webkit-transition: width 0.8s, height 0.8s;
    transition: width 0.8s, height 0.8s;
  }
}
/* line 502, ../sass/style.scss */
.minor .tile {
  font-size: 80%;
  height: 25em;
  margin-bottom: 1.4em;
}
/* line 506, ../sass/style.scss */
.minor .tile .tile-img {
  height: 52%;
}

/* line 511, ../sass/style.scss */
.major .tile {
  height: 40em;
}
/* line 513, ../sass/style.scss */
.major .tile .tile-img {
  height: 75%;
}

/* line 518, ../sass/style.scss */
.tile {
  margin: 1rem 0;
}

/* line 522, ../sass/style.scss */
.tile-img {
  height: auto;
}

/* line 527, ../sass/style.scss */
.tile-img-light {
  background-color: white;
  margin: 1em 0 1.7em;
}

/* line 533, ../sass/style.scss */
.title-underline {
  margin-bottom: 1em;
  border-bottom: 3px solid #ddd;
  display: inline-block;
  padding-bottom: 0.5em;
}

/* line 540, ../sass/style.scss */
.tile-text {
  padding: 1.75em 2.2em 2em;
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: white;
}
/* line 545, ../sass/style.scss */
.tile-text p {
  margin-bottom: 0;
}

@media (min-width: 640px) and (max-width: 800px) {
  /* line 554, ../sass/style.scss */
  .major .tile .tile-img {
    height: 70%;
  }
}
/* Responsive stuff */
@media only screen and (max-width: 640px) {
  /* line 563, ../sass/style.scss */
  .minor .tile {
    height: 25em;
    margin: 2em 0;
  }
  /* line 566, ../sass/style.scss */
  .minor .tile .tile-img {
    height: 60%;
  }

  /* line 571, ../sass/style.scss */
  .major .tile {
    height: 30em;
    margin: 1.5em 0 2.5em;
  }
  /* line 574, ../sass/style.scss */
  .major .tile .tile-img {
    height: 67%;
  }
  /* line 577, ../sass/style.scss */
  .major .tile p {
    font-size: 1em;
  }

  /* line 582, ../sass/style.scss */
  .minor:first-of-type .tile:first-of-type {
    margin-top: -30px;
  }
}
@media only screen and (max-width: 380px) {
  /* line 589, ../sass/style.scss */
  .major .tile .tile-img {
    height: 60%;
  }
}
/* project specifics */
/* line 596, ../sass/style.scss */
.tile-img {
  overflow: hidden;
}

/* line 600, ../sass/style.scss */
.tile-img .inner {
  height: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 608, ../sass/style.scss */
.tile-img {
  position: relative;
}

/* line 612, ../sass/style.scss */
.tile-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .7s ease;
  -moz-transition: opacity .7s ease;
}

/* line 624, ../sass/style.scss */
#projects .tile:hover .tile-img:after {
  opacity: .7;
}

/* line 628, ../sass/style.scss */
.tile-img:hover:after {
  opacity: .7;
}

/* line 632, ../sass/style.scss */
.tile-img:after {
  background-color: red;
}

/* line 636, ../sass/style.scss */
#landing section:not(:first-of-type),
#landing footer {
  margin-top: 60px;
}

/* line 641, ../sass/style.scss */
#home {
  margin-top: 10em;
  margin-bottom: 7em;
}

@media only screen and (max-width: 640px) {
  /* line 648, ../sass/style.scss */
  #home {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
/* line 654, ../sass/style.scss */
ul.inline-list {
  list-style-type: none;
  margin-left: 0px;
  padding-top: 0.5rem;
}
/* line 659, ../sass/style.scss */
ul.inline-list li {
  display: inline-block;
  margin: 0 20px;
}
/* line 663, ../sass/style.scss */
ul.inline-list li:first-of-type {
  margin-left: 1px;
}

/* homepage project specific  */
/* line 670, ../sass/style.scss */
#smartcart .tile-img:after,
#smartcart .tile-img {
  background-color: #2565AA;
}

/* line 675, ../sass/style.scss */
#research .tile-img:after,
#research .tile-img {
  background-color: #184E11;
}

/* line 680, ../sass/style.scss */
#discoveroute .tile-img:after,
#discoveroute .tile-img {
  background-color: #FFA215;
}

/* line 685, ../sass/style.scss */
#remind .tile-img:after,
#remind .tile-img {
  background-color: #4a89dc;
}

/* line 690, ../sass/style.scss */
#remind .tile-img {
  padding: 0% 22%;
}

/* line 694, ../sass/style.scss */
#frog .tile-img:after,
#frog .tile-img {
  background-color: #46bc01;
}

/* line 699, ../sass/style.scss */
#frog .tile-img {
  padding: 0% 25%;
}

/* line 704, ../sass/style.scss */
#uber .tile-img:after,
#uber .tile-img {
  background-color: #000;
}

/* line 709, ../sass/style.scss */
#uber .tile-img {
  padding: 0 15%;
}

/* line 713, ../sass/style.scss */
#dais .tile-img:after,
#dais .tile-img {
  background-color: #007E7F;
}

/* line 718, ../sass/style.scss */
#sixdegree .tile-img:after,
#sixdegree .tile-img {
  background-color: #010425;
}

/* line 723, ../sass/style.scss */
#sixdegree .tile-img {
  padding: 0 18%;
}

/* line 727, ../sass/style.scss */
#etc .tile-img:after,
#etc .tile-img {
  background-color: #7B041C;
}

/* line 732, ../sass/style.scss */
#etc .tile-img {
  padding: 0% 12%;
}

/* line 736, ../sass/style.scss */
#frog .tile-img:hover,
#frog .tile-text:hover,
#remind .tile-img:hover,
#remind .tile-text:hover,
#uber .tile-img:hover,
#uber .tile-text:hover {
  cursor: not-allowed;
}

@media (min-width: 800px) and (max-width: 1024px) {
  /* line 747, ../sass/style.scss */
  #etc .tile-img,
  #sixdegree .tile-img {
    padding: 0 20%;
  }

  /* line 751, ../sass/style.scss */
  #dconstraints .tile-img,
  #dais .tile-img {
    padding: 0 8%;
  }
}
/* line 766, ../sass/style.scss */
li a:hover {
  color: #aaa;
}

/* line 770, ../sass/style.scss */
i.fa:hover {
  transition: color .7s;
  -webkit-transition: color .7s;
}

/* line 775, ../sass/style.scss */
.fa-twitter:hover {
  color: #00aced;
}

/* line 779, ../sass/style.scss */
.fa-facebook:hover {
  color: #3b5998;
}

/* line 783, ../sass/style.scss */
.fa-linkedin:hover {
  color: #007bb6;
}

/* line 786, ../sass/style.scss */
.fa-instagram:hover {
  color: #517fa4;
}

/* line 790, ../sass/style.scss */
.fa-github:hover {
  color: #000;
}

/* line 794, ../sass/style.scss */
.fa-codepen:hover {
  color: #191919;
}

/* line 798, ../sass/style.scss */
.fa-send:hover {
  color: #00C9D0;
}
