/* ELEMENTS */
/* line 54, ../sass/style.scss */
body {
  color: #3D3D3D;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* line 61, ../sass/style.scss */
h1, h2 {
  font-family: 'Playfair Display', serif;
}

/* line 65, ../sass/style.scss */
h3 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  line-height: 1.8;
}

/* line 73, ../sass/style.scss */
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-style: italic;
  color: #666;
}

/* line 80, ../sass/style.scss */
p {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  line-height: 1.8;
  color: #696969;
}

/* line 88, ../sass/style.scss */
blockquote {
  border-left: 0;
  width: 66.7%;
  color: #aaa;
  font-family: 'Playfair Display';
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 2.75rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 103, ../sass/style.scss */
blockquote footer {
  text-align: right;
  font-size: .85rem;
  color: #aaa;
  margin: 0;
}
/* line 110, ../sass/style.scss */
blockquote p {
  display: inline;
}

/* line 116, ../sass/style.scss */
footer {
  margin-bottom: 30px;
}
/* line 118, ../sass/style.scss */
footer p {
  margin-top: 30px;
}

/* UTILITIES */
/* line 125, ../sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* GENERAL */
/* line 132, ../sass/style.scss */
.back {
  margin-top: 30px;
}
/* line 134, ../sass/style.scss */
.back a:hover {
  opacity: 0.6;
}
/* line 138, ../sass/style.scss */
.back img {
  width: 35px;
}

/* line 143, ../sass/style.scss */
.video-wrapper {
  position: relative;
  padding-bottom: 40.5%;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 45px;
  max-width: 580px;
}

/* line 154, ../sass/style.scss */
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 164, ../sass/style.scss */
.case-content {
  /* TO DO: COME BACK TO THIS */
}
/* line 165, ../sass/style.scss */
.case-content h4 {
  font-size: 1.35rem;
  margin-top: 1.35rem;
}
/* line 171, ../sass/style.scss */
.case-content a {
  color: #3D3D3D;
  border-bottom: 1px solid #ccc;
}
/* line 176, ../sass/style.scss */
.case-content a:hover {
  color: #696969;
  border-bottom: none;
}
/* line 181, ../sass/style.scss */
.case-content figure {
  max-width: 580px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 189, ../sass/style.scss */
.case-content figure img {
  margin-bottom: 0.5em;
}
/* line 193, ../sass/style.scss */
.case-content figure figcaption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  color: #696969;
  font-size: 0.8em;
  font-style: italic;
  width: 90%;
}
/* line 203, ../sass/style.scss */
.case-content section {
  margin-top: 4em;
}
/* line 207, ../sass/style.scss */
.case-content ul {
  color: #696969;
  line-height: 1.8;
  margin-left: 100px;
}

/* line 216, ../sass/style.scss */
.slideshow {
  height: 450px;
  background-color: white;
}

/* line 221, ../sass/style.scss */
.slideshow > div {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
/* line 225, ../sass/style.scss */
.slideshow > div img {
  height: 450px;
}

@media (max-width: 750px) {
  /* line 231, ../sass/style.scss */
  .slideshow {
    width: 100%;
    min-height: 250px;
    max-height: 450px;
    height: auto;
  }

  /* line 237, ../sass/style.scss */
  .slideshow > div img {
    width: 100%;
    height: auto;
  }
}
/* line 244, ../sass/style.scss */
.intro {
  text-align: left;
  padding-left: 15px;
}
/* line 248, ../sass/style.scss */
.intro h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  color: white;
  text-shadow: #3D3D3D 3px 2px;
}
/* line 256, ../sass/style.scss */
.intro h2 {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  color: #6E6E6E;
}
/* line 263, ../sass/style.scss */
.intro h3 {
  font-size: 1em;
  margin-right: -8px;
  color: #6E6E6E;
}

/* line 271, ../sass/style.scss */
.intro-text {
  margin-top: 18em;
}

@media (max-width: 640px) {
  /* line 276, ../sass/style.scss */
  .back {
    width: 30px;
  }

  /* line 281, ../sass/style.scss */
  .intro h1 {
    font-size: 2.5em;
  }
  /* line 284, ../sass/style.scss */
  .intro h2 {
    font-size: 1.25em;
  }
  /* line 287, ../sass/style.scss */
  .intro h3 {
    font-size: 0.8em;
  }
}
/* PAGE-SPECIFIC */
/* line 295, ../sass/style.scss */
.hero {
  background-repeat: no-repeat;
  height: 36em;
  margin-bottom: 2em;
}

/* line 301, ../sass/style.scss */
.hero#smartcart {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/smartcart3.png");
  background-position: 80% 0%;
  background-size: cover, auto 26em;
  background-color: #2565AA;
}
/* line 313, ../sass/style.scss */
.hero#smartcart h2, .hero#smartcart h3 {
  color: #ddd;
}

/* line 319, ../sass/style.scss */
.hero#discoveroute {
  background-image: linear-gradient(to bottom, transparent 1%, rgba(255, 255, 255, 0.1) 90%), url("../images/discoveroute3.png");
  background-position: 80% 25%;
  background-size: cover, auto 28em;
  background-color: #FEC201;
}

/* line 327, ../sass/style.scss */
.hero#dais {
  background-image: linear-gradient(to bottom, transparent 1%, rgba(255, 255, 255, 0.1) 90%), url("../images/dais.png");
  background-position: 80% 40%;
  background-size: cover, auto 20em;
  background-color: #007E7F;
}
/* line 334, ../sass/style.scss */
.hero#dais h2, .hero#dais h3 {
  color: #ddd;
}

@media (max-width: 640px) {
  /* line 341, ../sass/style.scss */
  .hero#discoveroute,
  .hero#smartcart {
    background-size: cover, 90% auto;
    background-position: 10% 100px;
  }

  /* line 347, ../sass/style.scss */
  .hero#dais {
    background-size: cover, 90% auto;
    background-position: 50% 130px;
  }
}
