/* ELEMENTS */
/* line 55, ../sass/style.scss */
body {
  color: #3D3D3D;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* line 62, ../sass/style.scss */
h1, h2 {
  font-family: 'Playfair Display', serif;
}

/* line 66, ../sass/style.scss */
h3 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  line-height: 1.8;
}

/* line 75, ../sass/style.scss */
p {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  line-height: 1.8;
  color: #696969;
}

/* line 83, ../sass/style.scss */
blockquote {
  border-left: 0;
  width: 66.7%;
  color: #aaa;
  font-family: 'Playfair Display';
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 2.75rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 98, ../sass/style.scss */
blockquote footer {
  text-align: right;
  font-size: .85rem;
  color: #aaa;
  margin: 0;
}
/* line 105, ../sass/style.scss */
blockquote p {
  display: inline;
}

/* line 111, ../sass/style.scss */
footer {
  margin-bottom: 30px;
}
/* line 113, ../sass/style.scss */
footer p {
  margin-top: 30px;
}

/* UTILITIES */
/* line 120, ../sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* GENERAL */
/* line 127, ../sass/style.scss */
.back {
  margin-top: 30px;
}
/* line 129, ../sass/style.scss */
.back a:hover {
  opacity: 0.6;
}
/* line 133, ../sass/style.scss */
.back img {
  width: 35px;
}

/* line 138, ../sass/style.scss */
.video-wrapper {
  position: relative;
  padding-bottom: 40.5%;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 45px;
  max-width: 580px;
}

/* line 149, ../sass/style.scss */
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 159, ../sass/style.scss */
.case-content {
  /* TO DO: COME BACK TO THIS */
}
/* line 161, ../sass/style.scss */
.case-content h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-style: italic;
  color: #666;
}
/* line 168, ../sass/style.scss */
.case-content h4 {
  font-size: 1.35rem;
  margin-top: 1.35rem;
}
/* line 174, ../sass/style.scss */
.case-content a {
  color: #3D3D3D;
  border-bottom: 1px solid #ccc;
}
/* line 179, ../sass/style.scss */
.case-content a:hover {
  color: #696969;
  border-bottom: none;
}
/* line 184, ../sass/style.scss */
.case-content figure {
  max-width: 580px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 192, ../sass/style.scss */
.case-content figure img {
  margin-bottom: 0.5em;
}
/* line 196, ../sass/style.scss */
.case-content figure figcaption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  color: #696969;
  font-size: 0.8em;
  font-style: italic;
  width: 90%;
}
/* line 206, ../sass/style.scss */
.case-content section {
  margin-top: 4em;
}
/* line 210, ../sass/style.scss */
.case-content ul {
  color: #696969;
  line-height: 1.8;
  margin-left: 100px;
}

/* line 219, ../sass/style.scss */
.slideshow {
  height: 450px;
  background-color: white;
}

/* line 224, ../sass/style.scss */
.slideshow > div {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
/* line 228, ../sass/style.scss */
.slideshow > div img {
  height: 450px;
}

@media (max-width: 750px) {
  /* line 234, ../sass/style.scss */
  .slideshow {
    width: 100%;
    min-height: 250px;
    max-height: 450px;
    height: auto;
  }

  /* line 240, ../sass/style.scss */
  .slideshow > div img {
    width: 100%;
    height: auto;
  }
}
/* line 247, ../sass/style.scss */
.intro {
  text-align: left;
  padding-left: 15px;
}
/* line 251, ../sass/style.scss */
.intro h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  color: white;
  text-shadow: #3D3D3D 3px 2px;
}
/* line 259, ../sass/style.scss */
.intro h2 {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  color: #ddd;
}
/* line 266, ../sass/style.scss */
.intro h3 {
  font-size: 1em;
  margin-right: -8px;
  color: #ddd;
}

/* line 274, ../sass/style.scss */
.intro-text {
  margin-top: 18em;
}

@media (max-width: 640px) {
  /* line 279, ../sass/style.scss */
  .back {
    width: 30px;
  }

  /* line 284, ../sass/style.scss */
  .intro h1 {
    font-size: 2.5em;
  }
  /* line 287, ../sass/style.scss */
  .intro h2 {
    font-size: 1.25em;
  }
  /* line 290, ../sass/style.scss */
  .intro h3 {
    font-size: 0.8em;
  }
}
/* PAGE-SPECIFIC */
/* line 298, ../sass/style.scss */
.hero {
  background-repeat: no-repeat;
  height: 36em;
  margin-bottom: 2em;
}

/* line 304, ../sass/style.scss */
.hero#smartcart {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/smartcart3.png");
  background-position: 80% 0%;
  background-size: cover, auto 26em;
  background-color: #2565AA;
}

/* line 317, ../sass/style.scss */
.hero#discoveroute {
  background-image: linear-gradient(to bottom, transparent 1%, rgba(255, 255, 255, 0.1) 90%), url("../images/discoveroute3.png");
  background-position: 80% 25%;
  background-size: cover, auto 28em;
  background-color: #FEC201;
}
/* line 324, ../sass/style.scss */
.hero#discoveroute h2, .hero#discoveroute h3 {
  color: #6E6E6E;
}

/* line 329, ../sass/style.scss */
.hero#dais {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.1) 80%), url("../images/dais.png");
  background-position: 80% 40%;
  background-size: cover, auto 20em;
  background-color: #007E7F;
}

/* line 337, ../sass/style.scss */
.hero#dconstraints {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/dconstraints.png");
  background-position: 80% 40%;
  background-size: cover, auto 15em;
  background-color: #184E11;
}

@media (max-width: 640px) {
  /* line 347, ../sass/style.scss */
  .hero#discoveroute,
  .hero#smartcart {
    background-size: cover, 90% auto;
    background-position: 10% 100px;
  }

  /* line 353, ../sass/style.scss */
  .hero#dconstraints,
  .hero#dais {
    background-size: cover, 90% auto;
    background-position: 50% 130px;
  }
}
/* HOMEPAGE */
/* line 367, ../sass/style.scss */
#landing h4, h5 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
}

/* line 374, ../sass/style.scss */
.more-triangle {
  display: none;
}

/* line 378, ../sass/style.scss */
#projects .tiles .tile:hover {
  cursor: pointer;
}

/* line 383, ../sass/style.scss */
.bio-img {
  height: 230px;
}

/* line 387, ../sass/style.scss */
ul.tiles {
  list-style: none;
  margin-left: 0px;
}

/* line 392, ../sass/style.scss */
.tile-row:nth-child(2n+1) .major {
  float: right;
}

@media only screen and (min-width: 750px) {
  /* line 397, ../sass/style.scss */
  .tile {
    -webkit-transition: width 0.8s, height 0.8s;
    transition: width 0.8s, height 0.8s;
  }
}
/* line 403, ../sass/style.scss */
.tile {
  margin: 1rem 0;
}

/* line 407, ../sass/style.scss */
.tile-img {
  height: auto;
}

/* line 413, ../sass/style.scss */
.tile-img-light {
  background-color: white;
  margin: 1em 0 1.7em;
}

/* line 418, ../sass/style.scss */
.tile-text {
  padding: 1.5em 2.2em 2.2em;
  margin-top: -2px;
  background-color: white;
}
/* line 423, ../sass/style.scss */
.tile-text p {
  margin-bottom: 0;
}

/* line 428, ../sass/style.scss */
.minor {
  font-size: 80%;
  height: 25em;
}
/* line 431, ../sass/style.scss */
.minor .tile-img {
  height: 52%;
}

/* line 436, ../sass/style.scss */
.major {
  height: 40.4em;
}
/* line 438, ../sass/style.scss */
.major .tile-img {
  height: 75%;
}

@media only screen and (max-width: 640px) {
  /* line 444, ../sass/style.scss */
  .minor {
    height: 25em;
  }
  /* line 446, ../sass/style.scss */
  .minor .tile-img {
    height: 60%;
  }

  /* line 451, ../sass/style.scss */
  .major {
    height: 30em;
  }
  /* line 453, ../sass/style.scss */
  .major .tile-img {
    height: 67%;
  }
  /* line 456, ../sass/style.scss */
  .major p {
    font-size: 1em;
  }

  /* line 461, ../sass/style.scss */
  .minor {
    margin-top: 5px;
  }

  /* line 465, ../sass/style.scss */
  .major:first-of-type {
    margin-bottom: 55px;
  }

  /* line 468, ../sass/style.scss */
  .major:last-of-type {
    margin-top: -5px;
  }
}
@media only screen and (max-width: 380px) {
  /* line 476, ../sass/style.scss */
  .minor .tile-img {
    height: 52%;
  }

  /* line 480, ../sass/style.scss */
  .major .tile-img {
    height: 65%;
  }
}
/* project specifics */
/* line 487, ../sass/style.scss */
.tile-img {
  overflow: hidden;
}

/* line 491, ../sass/style.scss */
.tile-img .inner {
  height: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 499, ../sass/style.scss */
#smartcart .tile-img:after,
#smartcart .tile-img {
  background-color: #2565AA;
}

/* line 504, ../sass/style.scss */
#research .tile-img:after,
#research .tile-img {
  background-color: #184E11;
}

/* line 509, ../sass/style.scss */
#discoveroute .tile-img:after,
#discoveroute .tile-img {
  background-color: #FEC201;
}

/* line 514, ../sass/style.scss */
#dais .tile-img:after,
#dais .tile-img {
  background-color: #007E7F;
}

/* line 520, ../sass/style.scss */
#projects .tile-text {
  box-shadow: 2px 2px #ddd, -1px 0px #ddd;
}

/* line 523, ../sass/style.scss */
#projects .tile-img {
  box-shadow: 2px 0px #DDD, -1px 0px #DDD;
}

/* line 531, ../sass/style.scss */
.no-margin {
  margin: 0;
}

/* line 535, ../sass/style.scss */
ul.centered-list {
  margin-left: 0;
  margin-top: 0.5rem;
  list-style-type: none;
  text-align: center;
}
/* line 541, ../sass/style.scss */
ul.centered-list li {
  display: block;
  margin: 0 10px;
}
/* line 545, ../sass/style.scss */
ul.centered-list li p {
  margin-bottom: 0.25rem;
}

/* line 551, ../sass/style.scss */
ul.centered-inline-list {
  list-style-type: none;
  text-align: center;
  margin-left: 0px;
  padding-top: 0.5rem;
}
/* line 557, ../sass/style.scss */
ul.centered-inline-list li {
  display: inline-block;
  margin: 0 10px;
}

/* line 563, ../sass/style.scss */
.title-underline {
  margin-bottom: 1em;
  border-bottom: 3px solid #ddd;
  display: inline-block;
  padding-bottom: 0.5em;
}

/* line 570, ../sass/style.scss */
.tile-row:first-of-type {
  margin-bottom: 22px;
}

/* line 575, ../sass/style.scss */
li#dais {
  margin-bottom: 22px;
}

/* line 580, ../sass/style.scss */
li#sixdegree {
  margin-bottom: 22px;
}

/* line 584, ../sass/style.scss */
.tile-img {
  position: relative;
}

/* line 588, ../sass/style.scss */
.tile-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .7s ease;
  -moz-transition: opacity .7s ease;
}

/* line 600, ../sass/style.scss */
#projects .tile:hover .tile-img:after {
  opacity: .7;
}

/* line 604, ../sass/style.scss */
.tile-img:hover:after {
  opacity: .7;
}

/* line 608, ../sass/style.scss */
.tile-img:after {
  background-color: red;
}

/* line 612, ../sass/style.scss */
#landing footer {
  margin-top: 60px;
}

/* line 616, ../sass/style.scss */
#home {
  margin-top: 10em;
  margin-bottom: 10em;
}

@media only screen and (max-width: 640px) {
  /* line 622, ../sass/style.scss */
  #home {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
