/* ELEMENTS */
/* line 19, ../sass/style.scss */
body {
  color: #3D3D3D;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* line 26, ../sass/style.scss */
h1, h2 {
  font-family: 'Playfair Display', serif;
}

/* line 30, ../sass/style.scss */
h3 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  line-height: 1.8;
}

/* line 38, ../sass/style.scss */
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-style: italic;
  color: #666;
}

/* line 45, ../sass/style.scss */
p {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  line-height: 1.8;
  color: #696969;
}

/* line 54, ../sass/style.scss */
footer p {
  margin-top: 30px;
}

/* line 59, ../sass/style.scss */
blockquote {
  border-left: 0;
  width: 66.7%;
  color: #aaa;
  font-family: 'Playfair Display';
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 2.75rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 74, ../sass/style.scss */
blockquote footer {
  text-align: right;
  font-size: .85rem;
  color: #aaa;
  margin: 0;
}
/* line 81, ../sass/style.scss */
blockquote p {
  display: inline;
}

/* UTILITIES */
/* line 88, ../sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* GENERAL */
/* line 95, ../sass/style.scss */
.back {
  margin-top: 30px;
}
/* line 97, ../sass/style.scss */
.back a:hover {
  opacity: 0.6;
}
/* line 101, ../sass/style.scss */
.back img {
  width: 35px;
}

/* line 106, ../sass/style.scss */
.video-wrapper {
  position: relative;
  padding-bottom: 40.5%;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 45px;
  width: 580px;
}

/* line 117, ../sass/style.scss */
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 127, ../sass/style.scss */
.case-study {
  margin-bottom: 30px;
}
/* line 131, ../sass/style.scss */
.case-study h4 {
  font-size: 1.35rem;
}
/* line 135, ../sass/style.scss */
.case-study figure {
  width: 580px;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 143, ../sass/style.scss */
.case-study figure img {
  margin-bottom: 0.5em;
}
/* line 147, ../sass/style.scss */
.case-study figure figcaption {
  margin-left: auto;
  margin-right: auto;
  color: #696969;
  font-size: 0.8em;
  font-style: italic;
  width: 90%;
}
/* line 156, ../sass/style.scss */
.case-study section {
  margin-top: 4em;
}

/* line 163, ../sass/style.scss */
.intro {
  text-align: left;
  padding-left: 15px;
}
/* line 167, ../sass/style.scss */
.intro h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
}
/* line 172, ../sass/style.scss */
.intro h2 {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
}
/* line 178, ../sass/style.scss */
.intro h3 {
  font-size: 16px;
  margin-right: -8px;
}

/* line 184, ../sass/style.scss */
.intro-text {
  margin-top: 18em;
}

/* PAGE-SPECIFIC */
/* line 190, ../sass/style.scss */
.hero#smartcart {
  background-image: url("../images/smartcart2.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 42em;
}

/* line 198, ../sass/style.scss */
.hero#discoveroute {
  background-image: url("../images/discoveroute.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32em;
  margin-bottom: 5em;
}
