/* ELEMENTS */
/* line 22, ../sass/style.scss */
body {
  color: #3D3D3D;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* line 29, ../sass/style.scss */
h1, h2 {
  font-family: 'Playfair Display', serif;
}

/* line 33, ../sass/style.scss */
h3 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  line-height: 1.8;
}

/* line 41, ../sass/style.scss */
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-style: italic;
  color: #666;
}

/* line 48, ../sass/style.scss */
p {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  line-height: 1.8;
  color: #696969;
}

/* line 57, ../sass/style.scss */
footer p {
  margin-top: 30px;
}

/* line 62, ../sass/style.scss */
blockquote {
  border-left: 0;
  width: 66.7%;
  color: #aaa;
  font-family: 'Playfair Display';
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 2.75rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 77, ../sass/style.scss */
blockquote footer {
  text-align: right;
  font-size: .85rem;
  color: #aaa;
  margin: 0;
}
/* line 84, ../sass/style.scss */
blockquote p {
  display: inline;
}

/* UTILITIES */
/* line 91, ../sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* GENERAL */
/* line 98, ../sass/style.scss */
.back {
  margin-top: 30px;
}
/* line 100, ../sass/style.scss */
.back a:hover {
  opacity: 0.6;
}
/* line 104, ../sass/style.scss */
.back img {
  width: 35px;
}

/* line 109, ../sass/style.scss */
.video-wrapper {
  position: relative;
  padding-bottom: 40.5%;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 45px;
  max-width: 580px;
}

/* line 120, ../sass/style.scss */
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 130, ../sass/style.scss */
.case-study {
  margin-bottom: 60px;
}

/* line 135, ../sass/style.scss */
.case-content {
  /* TO DO: COME BACK TO THIS */
}
/* line 136, ../sass/style.scss */
.case-content h4 {
  font-size: 1.35rem;
}
/* line 141, ../sass/style.scss */
.case-content a {
  color: #3D3D3D;
  border-bottom: 1px solid #ccc;
}
/* line 146, ../sass/style.scss */
.case-content a:hover {
  color: #696969;
  border-bottom: none;
}
/* line 151, ../sass/style.scss */
.case-content figure {
  max-width: 580px;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 159, ../sass/style.scss */
.case-content figure img {
  margin-bottom: 0.5em;
}
/* line 163, ../sass/style.scss */
.case-content figure figcaption {
  margin-left: auto;
  margin-right: auto;
  color: #696969;
  font-size: 0.8em;
  font-style: italic;
  width: 90%;
}
/* line 172, ../sass/style.scss */
.case-content section {
  margin-top: 4em;
}

/* line 178, ../sass/style.scss */
.intro {
  text-align: left;
  padding-left: 15px;
}
/* line 182, ../sass/style.scss */
.intro h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
}
/* line 187, ../sass/style.scss */
.intro h2 {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
}
/* line 193, ../sass/style.scss */
.intro h3 {
  font-size: 16px;
  margin-right: -8px;
}

/* line 199, ../sass/style.scss */
.intro-text {
  margin-top: 18em;
}

/* line 205, ../sass/style.scss */
.slideshow {
  height: 450px;
  background-color: white;
}

/* line 210, ../sass/style.scss */
.slideshow > div {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
/* line 214, ../sass/style.scss */
.slideshow > div img {
  height: 450px;
}

/* PAGE-SPECIFIC */
/* line 221, ../sass/style.scss */
.hero#smartcart {
  background-image: url("../images/smartcart2.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 42em;
}

/* line 229, ../sass/style.scss */
.hero#discoveroute {
  background-image: url("../images/discoveroute.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32em;
  margin-bottom: 5em;
}
