/* line 15, ../sass/style.scss */
body {
  color: #3D3D3D;
  font-family: 'Nunito', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* line 21, ../sass/style.scss */
h1, h2 {
  font-family: 'Playfair Display', serif;
}

/* line 25, ../sass/style.scss */
h3, h4 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  display: inline-block;
  line-height: 1.8;
}

/* line 33, ../sass/style.scss */
p {
  font-family: 'Nunito', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  line-height: 1.8;
  color: #777;
}

/* line 41, ../sass/style.scss */
footer p {
  margin-top: 30px;
}

/* line 46, ../sass/style.scss */
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 50, ../sass/style.scss */
hr.indent {
  display: inline-block;
  width: 1.5em;
  height: 0px;
  margin: 5px 0 5px 0;
  margin-right: 20px;
  border-width: 1.75px;
  color: #3D3D3D;
  background-color: #3D3D3D;
  border-color: #3D3D3D;
}

/* line 62, ../sass/style.scss */
.back {
  margin-top: 30px;
}

/* line 66, ../sass/style.scss */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 45px;
}

/* line 75, ../sass/style.scss */
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 85, ../sass/style.scss */
.case-study {
  margin-bottom: 30px;
}
/* line 89, ../sass/style.scss */
.case-study figure {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 3em 5em;
}
/* line 93, ../sass/style.scss */
.case-study figure img {
  margin-bottom: 0.5em;
}
/* line 97, ../sass/style.scss */
.case-study figure figcaption {
  color: #696969;
  font-size: 0.8em;
  font-style: italic;
}
/* line 104, ../sass/style.scss */
.case-study section {
  margin-top: 45px;
  margin-bottom: 45px;
}

/* line 112, ../sass/style.scss */
.intro {
  text-align: right;
  padding-left: 15px;
}
/* line 116, ../sass/style.scss */
.intro h1 {
  font-family: 'Playfair Display', serif;
}
/* line 120, ../sass/style.scss */
.intro h2 {
  font-family: 'Nunito', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}
/* line 125, ../sass/style.scss */
.intro h3 {
  font-size: 14px;
  margin-right: -8px;
}

/* line 131, ../sass/style.scss */
.intro-text {
  margin-top: 350px;
}

/* line 136, ../sass/style.scss */
.hero#smartcart {
  background-image: url("../images/smartcart.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 680px;
}
