/* line 11, ../sass/style.scss */
body {
  color: #3D3D3D;
  font-family: 'Nunito', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* line 17, ../sass/style.scss */
h1, h2 {
  font-family: 'Playfair Display', serif;
}

/* line 21, ../sass/style.scss */
h3, h4 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  display: inline-block;
  line-height: 1.8;
}

/* line 29, ../sass/style.scss */
p {
  font-family: 'Nunito', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  line-height: 1.8;
}

/* line 35, ../sass/style.scss */
hr.indent {
  display: inline-block;
  width: 1.5em;
  height: 0px;
  margin: 5px 0 5px 0;
  margin-right: 20px;
  border-width: 1.75px;
  color: #3D3D3D;
  background-color: #3D3D3D;
  border-color: #3D3D3D;
}

/* line 47, ../sass/style.scss */
.back {
  margin-top: 30px;
}

/* line 51, ../sass/style.scss */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
}

/* line 60, ../sass/style.scss */
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 70, ../sass/style.scss */
#smartcart-page {
  background-image: url("../images/smartcart.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 680px;
}

/* line 78, ../sass/style.scss */
.intro {
  text-align: right;
  padding-left: 15px;
}
/* line 82, ../sass/style.scss */
.intro h1 {
  font-family: 'Playfair Display', serif;
}
/* line 86, ../sass/style.scss */
.intro h2 {
  font-family: 'Nunito', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}
/* line 91, ../sass/style.scss */
.intro h3 {
  font-size: 14px;
  margin-right: -8px;
}

/* line 97, ../sass/style.scss */
.intro-text {
  margin-top: 350px;
}
