/* ELEMENTS */
/* line 63, ../sass/style.scss */
body {
  color: #3D3D3D;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* line 69, ../sass/style.scss */
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

/* line 74, ../sass/style.scss */
h3 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  line-height: 1.8;
}

/* line 83, ../sass/style.scss */
p {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  line-height: 1.8;
  color: #696969;
}

/* line 90, ../sass/style.scss */
a {
  color: #00C9D0;
}

/* line 94, ../sass/style.scss */
blockquote {
  border-left: 0;
  width: 66.7%;
  color: #aaa;
  font-family: 'Playfair Display';
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 2.75rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 109, ../sass/style.scss */
blockquote footer {
  text-align: right;
  font-size: .85rem;
  color: #aaa;
  margin: 0;
}
/* line 116, ../sass/style.scss */
blockquote p {
  display: inline;
}

/* line 122, ../sass/style.scss */
footer {
  margin-bottom: 30px;
}
/* line 124, ../sass/style.scss */
footer p {
  margin-top: 30px;
}

/* UTILITIES */
/* line 131, ../sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* GENERAL */
/* line 138, ../sass/style.scss */
.back {
  margin-top: 30px;
}
/* line 140, ../sass/style.scss */
.back a:hover {
  opacity: 0.6;
}
/* line 144, ../sass/style.scss */
.back img {
  width: 35px;
}

/* line 149, ../sass/style.scss */
.video-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 40.5%;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 45px;
  max-width: 580px;
}

/* line 161, ../sass/style.scss */
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 171, ../sass/style.scss */
.case-content {
  /* TO DO: COME BACK TO THIS */
}
/* line 173, ../sass/style.scss */
.case-content h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #666;
}
/* line 180, ../sass/style.scss */
.case-content h4 {
  font-size: 1.35rem;
  margin-top: 1.35rem;
}
/* line 186, ../sass/style.scss */
.case-content a {
  color: #3D3D3D;
  border-bottom: 1px solid #ccc;
}
/* line 191, ../sass/style.scss */
.case-content a:hover {
  color: #696969;
  border-bottom: none;
}
/* line 196, ../sass/style.scss */
.case-content figure {
  max-width: 580px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 204, ../sass/style.scss */
.case-content figure img {
  margin-bottom: 0.5em;
}
/* line 208, ../sass/style.scss */
.case-content figure figcaption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  color: #696969;
  font-size: 0.8em;
  font-style: italic;
  width: 90%;
}
/* line 218, ../sass/style.scss */
.case-content section {
  margin-top: 4em;
}
/* line 222, ../sass/style.scss */
.case-content section:first-of-type {
  margin-top: 1.5em;
}
/* line 226, ../sass/style.scss */
.case-content ul {
  color: #696969;
  line-height: 1.8;
  margin-left: 100px;
}

/* line 235, ../sass/style.scss */
.slideshow {
  height: 450px;
  background-color: white;
}

/* line 240, ../sass/style.scss */
.slideshow > div {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
/* line 244, ../sass/style.scss */
.slideshow > div img {
  height: 450px;
}

@media (max-width: 750px) {
  /* line 250, ../sass/style.scss */
  .slideshow {
    width: 100%;
    min-height: 250px;
    max-height: 450px;
    height: auto;
  }

  /* line 256, ../sass/style.scss */
  .slideshow > div img {
    width: 100%;
    height: auto;
  }
}
/* line 263, ../sass/style.scss */
.intro {
  text-align: left;
  padding-left: 15px;
}
/* line 267, ../sass/style.scss */
.intro h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  color: white;
}
/* line 275, ../sass/style.scss */
.intro h2 {
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  color: #f4f4f4;
}
/* line 282, ../sass/style.scss */
.intro h3 {
  font-size: 1em;
  margin-right: -8px;
  color: #f4f4f4;
}

/* line 296, ../sass/style.scss */
.intro-text {
  margin-top: 18em;
}

@media (max-width: 640px) {
  /* line 301, ../sass/style.scss */
  .back {
    width: 30px;
  }

  /* line 306, ../sass/style.scss */
  .intro h1 {
    font-size: 2.5em;
  }
  /* line 309, ../sass/style.scss */
  .intro h2 {
    font-size: 1.25em;
  }
  /* line 312, ../sass/style.scss */
  .intro h3 {
    font-size: 0.8em;
  }
}
/* PAGE-SPECIFIC */
/* line 320, ../sass/style.scss */
.hero {
  background-repeat: no-repeat;
  height: 36em;
  margin-bottom: 1em;
}

/* line 327, ../sass/style.scss */
.hero#smartcart {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/smartcart3.png");
  background-position: 80% 0%;
  background-size: cover, auto 26em;
  background-color: #2565AA;
}

/* line 340, ../sass/style.scss */
.hero#discoveroute {
  background-image: linear-gradient(to bottom, transparent 10%, rgba(255, 250, 255, 0.1) 90%), url("../images/discoveroute3.png");
  background-position: 80% 25%;
  background-size: cover, auto 28em;
  background-color: #FFA215;
}

/* line 348, ../sass/style.scss */
.hero#dais {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.1) 80%), url("../images/dais.png");
  background-position: 80% 40%;
  background-size: cover, auto 20em;
  background-color: #007E7F;
}

/* line 356, ../sass/style.scss */
.hero#dconstraints {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/dconstraints.png");
  background-position: 80% 40%;
  background-size: cover, auto 15em;
  background-color: #184E11;
}

/* line 364, ../sass/style.scss */
.hero#sixdegree {
  background-image: linear-gradient(to bottom, transparent 3%, rgba(0, 0, 0, 0.15) 80%), url("../images/sixdegree.png");
  background-position: 80% 40%;
  background-size: cover, auto 22em;
  background-color: #010425;
}

@media (max-width: 640px) {
  /* line 374, ../sass/style.scss */
  .hero#discoveroute,
  .hero#smartcart {
    background-size: cover, 90% auto;
    background-position: 10% 100px;
  }

  /* line 380, ../sass/style.scss */
  .hero#dconstraints,
  .hero#dais {
    background-size: cover, 90% auto;
    background-position: 50% 130px;
  }
}
/* HOMEPAGE */
/* line 394, ../sass/style.scss */
#landing h4, h5 {
  font-family: 'Abel', 'Courier New', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
}

/* line 401, ../sass/style.scss */
.more-triangle {
  display: none;
}

/* line 405, ../sass/style.scss */
#projects .tiles .tile:hover {
  cursor: pointer;
}

/* line 410, ../sass/style.scss */
.bio-img {
  height: 230px;
}

/* line 414, ../sass/style.scss */
ul.tiles {
  list-style: none;
  margin-left: 0px;
}

/* line 419, ../sass/style.scss */
.tile-row:nth-child(2n+1) .major {
  float: right;
}

@media only screen and (min-width: 750px) {
  /* line 424, ../sass/style.scss */
  .tile {
    -webkit-transition: width 0.8s, height 0.8s;
    transition: width 0.8s, height 0.8s;
  }
}
/* line 430, ../sass/style.scss */
.tile {
  margin: 1rem 0;
}

/* line 434, ../sass/style.scss */
.tile-img {
  height: auto;
}

/* line 439, ../sass/style.scss */
.tile-img-light {
  background-color: white;
  margin: 1em 0 1.7em;
}

/* line 444, ../sass/style.scss */
.tile-text {
  padding: 1.75em 2.2em 2em;
  margin-top: -2px;
  background-color: white;
}
/* line 449, ../sass/style.scss */
.tile-text p {
  margin-bottom: 0;
}

/* line 454, ../sass/style.scss */
.minor {
  font-size: 80%;
  height: 25em;
}
/* line 457, ../sass/style.scss */
.minor .tile-img {
  height: 52%;
}

/* line 462, ../sass/style.scss */
.major {
  height: 40em;
}
/* line 464, ../sass/style.scss */
.major .tile-img {
  height: 75%;
}

/* FIX RESPONSIVE */
@media only screen and (max-width: 640px) {
  /* line 472, ../sass/style.scss */
  .minor {
    height: 25em;
  }
  /* line 474, ../sass/style.scss */
  .minor .tile-img {
    height: 60%;
  }

  /* line 479, ../sass/style.scss */
  .major {
    height: 30em;
  }
  /* line 481, ../sass/style.scss */
  .major .tile-img {
    height: 67%;
  }
  /* line 484, ../sass/style.scss */
  .major p {
    font-size: 1em;
  }

  /* line 489, ../sass/style.scss */
  .minor {
    margin-top: 5px;
  }

  /* line 493, ../sass/style.scss */
  .major:first-of-type {
    margin-bottom: 55px;
  }

  /* line 496, ../sass/style.scss */
  .major:last-of-type {
    margin-top: -5px;
  }
}
@media only screen and (max-width: 380px) {
  /* line 504, ../sass/style.scss */
  .minor .tile-img {
    height: 52%;
  }

  /* line 508, ../sass/style.scss */
  .major .tile-img {
    height: 65%;
  }
}
/* project specifics */
/* line 515, ../sass/style.scss */
.tile-img {
  overflow: hidden;
}

/* line 519, ../sass/style.scss */
.tile-img .inner {
  height: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

/* project specific colors */
/* line 529, ../sass/style.scss */
#smartcart .tile-img:after,
#smartcart .tile-img {
  background-color: #2565AA;
}

/* line 534, ../sass/style.scss */
#research .tile-img:after,
#research .tile-img {
  background-color: #184E11;
}

/* line 539, ../sass/style.scss */
#discoveroute .tile-img:after,
#discoveroute .tile-img {
  background-color: #FFA215;
}

/* line 544, ../sass/style.scss */
#remind .tile-img:after,
#remind .tile-img {
  background-color: #4a89dc;
}

/* line 549, ../sass/style.scss */
#remind .tile-img {
  padding: 0% 22%;
}

/* line 553, ../sass/style.scss */
#frog .tile-img:after,
#frog .tile-img {
  background-color: #46bc01;
}

/* line 558, ../sass/style.scss */
#frog .tile-img {
  padding: 0% 25%;
}

/* line 563, ../sass/style.scss */
#uber .tile-img:after,
#uber .tile-img {
  background-color: #000;
}

/* line 568, ../sass/style.scss */
#uber .tile-img {
  padding: 0 15%;
}

/* line 572, ../sass/style.scss */
#dais .tile-img:after,
#dais .tile-img {
  background-color: #007E7F;
}

/* line 577, ../sass/style.scss */
#sixdegree .tile-img:after,
#sixdegree .tile-img {
  background-color: #010425;
}

/* line 582, ../sass/style.scss */
#sixdegree .tile-img {
  padding: 0 18%;
}

/* line 586, ../sass/style.scss */
#etc .tile-img:after,
#etc .tile-img {
  background-color: #7B041C;
}

/* line 591, ../sass/style.scss */
#etc .tile-img {
  padding: 0% 12%;
}

/* line 595, ../sass/style.scss */
#projects .tile-text {
  box-shadow: 2px 2px #ddd, -1px 0px #ddd;
}

/* line 598, ../sass/style.scss */
#projects .tile-img {
  box-shadow: 2px 0px #DDD, -1px 0px #DDD;
}

/* line 612, ../sass/style.scss */
.no-margin {
  margin: 0;
}

/* line 616, ../sass/style.scss */
ul.centered-list {
  margin-left: 0;
  margin-top: 0.5rem;
  list-style-type: none;
  text-align: center;
}
/* line 622, ../sass/style.scss */
ul.centered-list li {
  display: block;
  margin: 0 10px;
}
/* line 626, ../sass/style.scss */
ul.centered-list li p {
  margin-bottom: 0.25rem;
}

/* line 632, ../sass/style.scss */
ul.centered-inline-list {
  list-style-type: none;
  text-align: center;
  margin-left: 0px;
  padding-top: 0.5rem;
}
/* line 638, ../sass/style.scss */
ul.centered-inline-list li {
  display: inline-block;
  margin: 0 10px;
}

/* line 644, ../sass/style.scss */
.title-underline {
  margin-bottom: 1em;
  border-bottom: 3px solid #ddd;
  display: inline-block;
  padding-bottom: 0.5em;
}

/* line 653, ../sass/style.scss */
li#frog,
li#potpourri,
li#dais {
  margin-bottom: 17px;
}

/* line 659, ../sass/style.scss */
.tile-img {
  position: relative;
}

/* line 663, ../sass/style.scss */
.tile-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .7s ease;
  -moz-transition: opacity .7s ease;
}

/* line 675, ../sass/style.scss */
#projects .tile:hover .tile-img:after {
  opacity: .7;
}

/* line 679, ../sass/style.scss */
.tile-img:hover:after {
  opacity: .7;
}

/* line 683, ../sass/style.scss */
.tile-img:after {
  background-color: red;
}

/* line 687, ../sass/style.scss */
#landing footer {
  margin-top: 60px;
}

/* line 691, ../sass/style.scss */
#home {
  margin-top: 10em;
  margin-bottom: 10em;
}

@media only screen and (max-width: 640px) {
  /* line 697, ../sass/style.scss */
  #home {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
/* line 704, ../sass/style.scss */
#frog .tile-img:hover,
#frog .tile-text:hover,
#remind .tile-img:hover,
#remind .tile-text:hover,
#uber .tile-img:hover,
#uber .tile-text:hover {
  cursor: not-allowed;
}
